{% extends "partials/base.html" %}
{% load static %}

{% block content %}

<div class="cards-details">
    <div class="fav-page page">
        <div class="container">

        <a href="javascript:void(0);" onclick="goBack()">
            <span class="exit-button"><i class="fa-solid fa-arrow-left"></i></span>
        </a>

        <div class="upper-part">
            <div class="card-image">
                <img src="{{ copon.img.url }}" alt="Product Image">
            </div>
            <div class="name-price">
                <h3> {{ copon.name }}</h3>                   
                <div class="description">
                    <div><p>قيمة الخصم </p><span> {{ copon.value }} %</span></div>
                    <div><p class='expiration'>تنتهي صلاحية هذا الكوبون بعد <strong style='color:var(--main-color);'>{{ copon.expiration_days }}</strong> يوم من تاريخ شراءه</p></div>
                </div>
                {% if copon.price != 0 %}
                    <p class="p-price"> {{ copon.price }} <i class="fa-solid fa-gem"></i></p>
                {% else %}
                    <p class="p-price free">مجاناً</p>
                {% endif %}
            </div>
        </div>

        <div class="lower-part">        
            <h3>شراء</h3>
            <div class="recipet">
              
                <div class="price">
                    {% if copon.price != 0 %}
                        <p>السعر {{ copon.price }} <i class="fa-solid fa-gem"></i></p>     
                    {% else %}
                        <p class="p-price ">السعر: <strong class='free'>مجاني</strong></p>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if  user_points >= copon.price %}

                            <a href="{% url "cards:buy-copon" copon.id %}" class="copon-buy-done-link">
                                إتمام عملية الشراء
                            </a>     

                        {% else %}
                            <span>نقاطك غير كافية!</span>
                        {% endif %}
                    {% else %}
                        <a href="{% url "accounts:sign" %}">سجل الدخول للشراء</a>
                    {% endif %} 
                </div>

                <a class="note" href="{% url "blog:questions-page" %}#how-to-get-points">
                    هل ترغب بالحصول على البطاقة وليس لديك نقاط كافية؟ 
                </a>
                
            </div> 
        </div>
        </div>

    </div>
</div>

{% include "pop-pages/buy-done.html" %}

{% endblock content %}