[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-jazzmin = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
phonenumbers = "*"
django-celery-beat = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
