{% load static %}
<!-- Start Footer  -->
<div class="footer">
    <div class="links">
        <ul class="important-links"> 
            {% if men_category %}<li><a href=" {% url "store:category" men_category.slug %}" aria-label='التصنيفات الرجالية'><i class="fa-solid fa-angles-left"></i>المنتجات الرجالية</a></li>{% endif %}
            {% if women_category %}<li><a href=" {% url "store:category" women_category.slug %}" aria-label='التصنيفات النسائية'><i class="fa-solid fa-angles-left"></i>المنتجات النسائية</a></li>{% endif %}
            <li><a href="{% url "store:offer_page" %}"  aria-label="صفحة العروض"><i class="fa-solid fa-angles-left"></i>صفحة العروض</a></li>
            <li><a href="{% url "orders:my-orders" %}"  aria-label="صفحة الطلبات السابقة"><i class="fa-solid fa-angles-left"></i> طلباتي السابقة</a></li>
        </ul>
        <ul class="important-links">
            <li><a href="{% url "cards:cards-store" %}"  aria-label="متجر البطاقات"><i class="fa-solid fa-angles-left"></i>متجر البطاقات</a></li>
            <li><a href="{% url "blog:blog" %}"  aria-label="المدونة"><i class="fa-solid fa-angles-left"></i> المدونة</a></li>
            <li><a href="{% url "blog:questions-page" %}"  aria-label="الاسئلة الشائعة"><i class="fa-solid fa-angles-left"></i> الاسئلة الشائعة</a></li>
            <li><a href="mailto:{{ email }}?subject=استفسار&body=ارغب بالاستفسار عن "><i class="fa-solid fa-angles-left"  aria-label="تواصل معنا"></i> تواصل معنا</a></li>
        </ul>
    </div>
    <div class="info">
        <h2>متجر فكرة </h2>
        <p> الوجهة المثالية لعشاق الأناقة، نقدم ملابس عصرية للشباب والبنات بتصاميم فريدة وجودة عالية. استمتعوا بتجربة تسوق ممتعة لتجديد إطلالتكم بأحدث صيحات الموضة.</p>
        <div class="contact-us">
            <h3>تواصل معنا </h3>
            <span>{{phone_number1}}</span>
            <span>{{phone_number2}} </span>
        </div>
        <div class="location">
            <h3> الموقع </h3>
            <p>ليبيا - طبرق</p>
        </div>
    </div>
    <div class="social">
        <div class="image"><img src="{% static "/images/icons/small-logo.png" %}" alt="ايقونة الموقع"></div>    
        <ul class="social-icons">
            <li class="facebook"><a href="{{facebook_link}}" aria-label='تواصل على فيسبوك'><i class="fa-brands fa-facebook facebook"></i></a></li>
            <li class="instagram"><a href="{{instagram_link}}" aria-label='تواصل على انستغرام'><i class="fa-brands fa-instagram instagram"></i></a></li>
            <li class=" whatsapp"><a href="https://wa.me/{{whatsapp_link}}" aria-label='تواصل على واتساب'><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
        </ul>
    </div>
</div>
<div class="copy-rights">
<p> &copy; جميع الحقوق محفوظة لمتجر <span>فكرة</span></p>
<span>FIKRA</span>
</div>
<!-- End Footer  -->