{% load static %}
<!-- Start Footer  -->
<div class="footer">
    <div class="links">
        <ul class="important-links"> 
            {% if men_category %}<li><a href=" {% url "store:category" men_category.slug %}"><i class="fa-solid fa-angles-left"></i>المنتجات الرجالية</a></li>{% endif %}
            {% if women_category %}<li><a href=" {% url "store:category" women_category.slug %}"><i class="fa-solid fa-angles-left"></i>المنتجات النسائية</a></li>{% endif %}
            <li><a href="{% url "store:offer_page" %}"><i class="fa-solid fa-angles-left"></i>صفحة العروض</a></li>
            <li><a href="#"><i class="fa-solid fa-angles-left"></i> طلباتي السابقة</a></li>
        </ul>
        <ul class="important-links">
            <li><a href="{% url "store:cards-store" %}"><i class="fa-solid fa-angles-left"></i>متجر البطاقات</a></li>
            <li><a href="{% url "blog:blog" %}"><i class="fa-solid fa-angles-left"></i> المدونة</a></li>
            <li><a href="{% url "blog:questions-page" %}"><i class="fa-solid fa-angles-left"></i> الاسئلة الشائعة</a></li>
            <li><a href="#"><i class="fa-solid fa-angles-left"></i> تواصل معنا</a></li>
           
        </ul>
    </div>
    <div class="info">
        <h2>متجر فكرة </h2>
        <p> الوجهة المثالية لعشاق الأناقة، نقدم ملابس عصرية للشباب والبنات بتصاميم فريدة وجودة عالية. استمتعوا بتجربة تسوق ممتعة لتجديد إطلالتكم بأحدث صيحات الموضة.</p>
        <div class="contact-us">
            <h3>تواصل معنا </h3>
            <span>0926295838</span>
            <span>096657418 </span>
        </div>
        <div class="location">
            <h3> الموقع </h3>
            <p>ليبيا - طبرق</p>
        </div>
    </div>
    <div class="social">
        <div class="image"><img src="{% static "/images/logo.jpg" %}" alt=""></div>    
        <ul class="social-icons">
            <li class="facebook"><a href=""><i class="fa-brands fa-facebook facebook"></i></a></li>
            <li class="instagram"><a href=""><i class="fa-brands fa-instagram instagram"></i></a></li>
            <li class=" whatsapp"><a href=""><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
        </ul>
    </div>
</div>
<div class="copy-rights">
<p> &copy; جميع الحقوق محفوظة لمتجر <span>فكرة</span></p>
<span>FIKRA</span>
</div>
<!-- End Footer  -->