{% load static %}
    <!-- Start Header  -->
    <header>
        <div class='header' id="header" >     
            <div class="upper-part">
                <div class="icons">
                    <!-- start mega-menu  -->
                    <input type="checkbox" name="" id="side-menu" hidden>
                    <label for="side-menu" class="menu"><i class="fa-solid fa-bars"></i></label> 
                    <div class="mega-menu">
                        <div class="top-icon">
                            <div class="exit">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                            <div class="toggle">
                                <input type="checkbox" name="" id="them">
                                <label for="them">
                                    <img src="{% static 'images/dark_mode_30dp_B18E4B_FILL0_wght400_GRAD0_opsz24.svg' %}" class="moon icon" alt="الوضع المظلم">
                                    <img src="{% static 'images/wb_sunny_30dp_B18E4B_FILL0_wght400_GRAD0_opsz24.svg' %}" class="sun icon" alt="الوضع الفاتح">
                                </label>    
                            </div>
                        </div>
                        <div class="links-sections">
                            <div class="title">
                                <h1>قسم الرجالي</h1>
                            </div>
                            <ul class="links">
                                {% for category in men_categories %}
                                    <li><a href="{% url 'store:category' category.slug %}" aria-label="اذهب الى {{ category.name }}"><i class="fa-solid fa-angles-left"></i> {{ category.name|slice:":-6"  }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="links-sections">
                            <div class="title">
                                <h1>قسم النسائي</h1>
                            </div>
                            <ul class="links">
                                {% for category in women_categories %}
                                    <li><a href="{% url 'store:category' category.slug %}" aria-label="اذهب الى {{ category.name }}"><i class="fa-solid fa-angles-left"></i> {{ category.name|slice:":-6"  }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="social-links">
                            <div class="title">
                                <h1>تواصل معنا</h1>
                            </div>
                            <ul class="links">
                                <li><a href="{{ facebook_link }}" aria-label="اذهب الى فيسبوك" ><i class="fa-brands fa-facebook"></i>فيسبوك</a></li>
                                <li><a href="{{ tiktok_link }}" aria-label="اذهب الى تيكتوك" ><i class="fa-brands fa-tiktok tiktok"></i>تيكتوك</a></li>
                                <li><a href="https://wa.me/{{whatsapp_link}}" aria-label="اذهب الى واتساب" ><i class="fa-brands fa-whatsapp"></i>واتساب</a></li>
                                <li><a href="mailto:{{ email }}?subject=استفسار&body=ارغب بالاستفسار عن  " aria-label="اذهب الى ايميل" ><i class="fa-regular fa-envelope"></i>ايميل</a></li>
                                <li><a href="tel:{{ phone_number1 }}" aria-label="تواصل معنا" ><i class="fa-solid fa-phone-volume"></i>اتصل بنا</a></li>
                            </ul>
                        </div>  
                        <div class="secondary-nav">
                            <ul>
                                <li class="li contact-us"><a href="https://wa.me/{{whatsapp_link}}" aria-label="اذهب الى واتساب" ><i class="fa-solid fa-headset"></i></a></li>
                                <li class="li"><a href="{% url "cards:cards-repo" %}" aria-label="مخزون البطاقات"><i class="fa-solid fa-gifts"></i></a></li>
                                <li class="li"><a href="{% url "orders:my-orders" %}" aria-label="طلباتي السابقة"><i class="fa-solid fa-list-check"></i></a></li>
                                <li class="li"><a href="{% url 'blog:blog' %}" aria-label="المدونة"><i class="fa-regular fa-circle-question"></i></a></li>
                            </ul>
                        </div>      
                    </div>  
                    <!-- end mega-menu  -->
                    <a href="{% url "accounts:account_info" %}#go_to_notfications" aria-label="الاشعارات" style="position: relative;">
                        <i class="fa-regular fa-bell bell"></i>
                        {% if unread_messages_count > 0 %}  <!-- اذا كان هنالك رسائل جديدة اظهر السبان والا اخفيه  -->
                            <span class="has-new-notif"></span>
                        {% endif %}
                    </a>
                </div>
                <div class="logo"  width='1200' height="1200">
                    <img src="{% static 'images/name-logo.webp' %}" alt="Fikra Store Name" >
                </div>
                <div class="points">
                    <a href="{% url "accounts:account_page" %}" aria-label="حسابي">
                        <span>{{ user_points }}</span>
                        <i class="fa-solid fa-gem"></i>                
                    </a>
                </div>
            </div>
            <div class="lower-part">
                <div class="categories">
                    <a class="category" href="{% url "store:all_brands" %}" aria-label="جميع البراندات">البراندات</a>
                    <a class="category" href="{% url "store:all_categories" %}" aria-label="جميع التصنيفات">التصنيفات</a>
                    <a class="category" href="{% url "store:offer_page" %}" aria-label="العروض">عروض</a>
                    {% if men_category %}<a class="category" href=" {% url "store:category" men_category.slug %}" aria-label="الملابس الرجالية"> رجالي</a>{% endif %}
                    {% if women_category %}<a class="category" href=" {% url "store:category" women_category.slug %}" aria-label="الملابس النسائية"> نسائي</a>{% endif %} 
                </div>
            </div>
        </div>
    </header>
    <!-- End Header  -->
