{% load static %}

{% comment %} اظهر النافذة والا اخفيها Successfully  اذا كان قيمة المربع المخفي  {% endcomment %}
<!-- Start buy-done-pop-page Section -->
<div class="Pop-up-page buy-done-pop-page">
    <div class="logo">
        <img src="{% static "/images/name logo.jpg" %}" alt="">
    </div>
    <p >تمت عملية الشراء بنجاح!</p>
    <a href="">استعراض <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    <i class="fa-solid fa-circle-check"></i>
</div>
<!-- End buy-done-pop-page Section -->