{% load static %}

<!-- Start add-copon-pop-page Section -->
<div class="Pop-up-page add-copon-pop-page">
    <div class="logo">
        <img src="{% static "images/name logo.jpg" %}" alt="">
    </div>
    {% if user_copons %}
        <p>رجاء قم بالإختيار من البطاقات التالية:</p>
        <!-- copons cards -->
        <form id="copons-form">
            <div class="choose-card">
                {% for usage_copon in user_copons %}
                    <!-- start card -->
                    <div class="card">
                        <input type="radio" name="choosen-copon-card" id="copon-{{ usage_copon.id }}" data-value="{{ usage_copon.copon_code.value  }}" data-copon-id="{{ usage_copon.id  }}" data-copon-name="{{ usage_copon.copon_code.name }}">
                        <label for="copon-{{ usage_copon.id }}">
                            <div class="image">
                                <img src="{{usage_copon.copon_code.img.url}}" alt="عنوان الاناقة في طبرق">
                            </div>
                            <div class="details">
                                <h4>{{usage_copon.copon_code.name}}</h4>
                                <p> القيمة: {{ usage_copon.copon_code.value }}دينار</p>
                                <p> الصلاحية : {{ usage_copon.expire }} </p>
                            </div>
                        </label>
                    </div>
                    <!-- end card  -->
                {% endfor %}
            </div>
            <button type="submit" class="hide-copon-link" onClick="applyCoponCard(event)" >
                استعمال
            </button>
        </form>
    {% else %}
        <p>لايوجد لديك كوبونات متوافقة</p>
    {% endif %}
    
   
</div>
<!-- End add-copon-pop-page Section -->