{% load static %}


    <div class="gift-card hidden {% if request.path != '/cards/' %}gift-showsurpriseanywhere{% endif %}" data-related-gift="{% if request.path == '/cards/' %}forgiftitem-{{ gift_item.id }}{% else %}surpriseany-{{  gift_item.id }}{% endif %}" >
        <div class="card-body "><!-- add class rotate -->

            <div class="face" style="background-image:url({% static "images/g-f.png" %}); ">
                <div class="content">
                        <i class="fa-solid fa-xmark" id="exit"></i>
                        <p>لقد ارسل اليك  {{ gift_item.buyer }} هدية!  <span class="flip"> انقر هنا</span> لرؤية الرسالة المرفقة مع الهدية</p>
                        {% if request.path != '/cards/' %}
                            <a href="{% url "cards:cards-repo" %}"  class="go-to-repo">الذهاب الى مستودع الهدايا <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        {% endif %}
                </div>
            </div>

            <div class="back" style="background-image:url({% static "images/g-b.png" %}); ">
                <div class="content">
                        <!-- اقصى طول للرسالة 300 حرف -->
                        {% if gift_item.gift_recipients.message %}
                            <p>{{ gift_item.gift_recipients.message|slice:":300" }}</p>
                        {% else %}
                            <p> المعذرة 
                                يبدو ان {{ gift_item.buyer }} قد نسي كتابة الرسالة 😅
                            </p>
                        {% endif %}
                        <span>{{ gift_item.buyer }}</span>
                        <i class="fa-solid fa-rotate"></i>
                </div>
            </div>

        </div>

    </div>



