{% extends "partials/base.html" %}
{% load static %}

{% block content %}

<div class="sign-page" style="position: relative; padding-top:20px;">
    <div class="edit-card">
        <h1>تغيير كلمة المرور<i class="fa-solid fa-pen"></i></h1>

        <a class='edit-exit' href="javascript:void(0);" onclick="goBack()">
            <span class="exit-button"><i class="fa-solid fa-arrow-left"></i></span>
        </a>

        <form method='POST'>
            {% csrf_token %}
            <div class="data">
                {% if messages %}
                    {% for message in messages %}
                        {% if 'success' in message.tags %}
                            <div class="error-messages" style="background-color: #74a432 !important;">
                                {{ message }} 
                            </div>
                        {% else %}
                            <div class="error-messages">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="edit-items">                        
                    <div>
                        <label for="oldpassword">كلمة المرور القديمة <a href="{% url "accounts:forget_password" %}">هل نسيت كلمة المرور؟</a></label>
                        <input type="text" name="old-password" id="oldpassword" required>
                    </div>
                    <div>
                        <label for="password1">كلمة المرور الجديدة</label>
                        <input type="password" name="password1" id="password1" placeholder="(8 أحرف على الأقل)">
                    </div>
                    <div>
                        <label for="password2">تأكيد كلمة المرور</label>
                        <input type="password" name="password2" id="password2" placeholder="(ادخل كلمة المرور الجديدة للتأكيد)">
                    </div>
                    <button type="submit">تعديل</button>
                </div>
            </div>
            <div class="image">
                <img src="{% static "images/graphic-designer.jpg" %}" alt="تعديل بياناتي">
            </div>

        </form>
    </div>           
</div>         
<script>
    // إخفاء رسائل الخطأ أو النجاح بعد تحميل الصفحة
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            const errorMessages = document.querySelectorAll('.error-messages');
            errorMessages.forEach(function(message) {
                message.style.display = 'none';
            });
        }, 8000); // إخفاء الرسائل بعد 8 ثوانٍ
    });
</script>
{% endblock content %}
