{% extends "partials/base.html" %}
{% load static %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static "/css/accounts.css" %}">   
{% endblock %}
{% block content %}
<div class="verify-page sign-page " style="position: relative;">
    <div class="container">
        <div class="sign-card">    
            <!-- نموذج إنشاء حساب -->
            <div class="verify-face">
                <div class="image">
                    <img src="{% static "images/name-logo.webp" %}" alt="محل ملابس بطبرق">
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <label>سوف نقوم بإرسال رمز التحقق الى رقمك على واتساب, للتأكيد انقر على زر الإرسال ({{phone_number}})</label>
                    <input type="submit" value="ارسل الرمز" style="background-color:#1d1dbc;">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

