{% extends "partials/base.html" %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static "/css/accounts.css" %}">   
{% endblock %}

{% block content %}
<div class="verify-page sign-page " style="position: relative;">
    <div class="container">
        <div class="sign-card">    
            <!-- نموذج إنشاء حساب -->
            <div class="verify-face">
                <div class="image">
                    <img src="{% static "images/name-logo.webp" %}" alt="محل ملابس بطبرق">
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {% if messages %}
                        <div class="error-messages">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <label>أدخل رمز التحقق الذي وصلك على واتساب</label>
                    <input type="text" name="otp_code" inputmode="numeric" pattern="\d{6}" maxlength="6" required oninput="this.value = this.value.replace(/\D/g, '')">
                    <input type="submit" value="تحقق">
                </form>
            
            </div>
        </div>
    </div>
</div>
{% endblock content %}

