{% extends "partials/base.html" %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static "/css/main-pages.css" %}"> 
{% endblock %}
{% block content %}
<div class="cards-store">
    <div class="fav-page page">
        <div class="favorite" style="padding-top: 80px;">
            <div class="searched-products">
                <div class="container">
                    <!-- Start copons-products  -->       
                    <div class="products-cards copons-cards">    
                        {% if copons %}
                            {% for card in copons %}
                                {% include "common/card.html" %}
                            {% endfor %}
                        {% else %}
                            {% include "common/no-result.html" %}
                        {% endif %}
                    </div>
                    <!-- End copons-products  -->
                </div>
            </div>
        </div>
    </div>
</div>
{% include "pop-pages/buy-done.html" %}

{% endblock content %}
{% block additional_js %}
    <script src=" {% static "/javascript/cards.js" %}" defer></script>
{% endblock %}







