{% extends "partials/base.html" %}
{% load static %}

{% block content %}

    <div class="cards-store cards-repo">
        <div class="fav-page page">
         
            <div class="padding-con">
                <div class="page-title">
                    <h2>المخزون الخاص بي</h2>
                </div>
            </div>
            <!-- Start repo-title -->
                <div class="search-bar" >
                    <div class="container">
                        <div class="repo-title">
                            <input type="radio" name="repo" id="gifts-page" >
                            <label for="gifts-page" class="active">كروت هدايا {% if gifts_count %}({{ gifts_count }}){% endif %}</label>
                            <input type="radio" name="repo" id="copons-page" >
                            <label for="copons-page">كوبونات خصم {% if copons_count %}({{ copons_count }}){% endif %}</label>
                            <span class="use-code-link">هل لديك كود هدية؟</span>
                        </div>
                    </div>
                </div>
            <!-- End repo-title -->

            <!-- Start gift-products  -->
            <div class="favorite gift-cards">
                <div class="searched-products">
                    <div class="container">

                        <!-- Start Show-related Gifts -->

                        <!-- الهدايا التي قمت بشرائها لنفسي -->
                        <label for="my-own-gifts" class="repo-inputs-cont">
                            <input type="checkbox" name="" id="my-own-gifts"  class='hidden'>
                            <div>
                                <h2>الهدايا التي قمت بشرائها</h2>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <hr>
                        </label>
                        <div class="products-cards my-own-gifts hidden">

                            <!-- product-start -->
                            {% if from_self %}
                                {% for gift_item in from_self %}
                                    {% include "common/gift-repo-card.html" %}
                                {% endfor %}
                            {% else %}
                                {% include "common/no-result.html" %}
                            {% endif %}
                            <!-- product-end -->
                                                       
                        </div>

                        <!-- الهدايا التي اهديت  الي -->
                        <label for="from-another-gifts"  class="repo-inputs-cont">
                            <input type="checkbox" name="" id="from-another-gifts"  class='hidden'>
                            <div>
                                <h2>الهدايا التي اهديت اليك</h2>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <hr>
                        </label>
                        <div class="products-cards from-another-gifts  hidden">

                           
                            {% if from_frind %}
                                {% for gift_item in from_frind %}
                                    {% include "common/gift-repo-card.html" %}
                                {% endfor %}
                            {% else %}
                                {% include "common/no-result.html" %}
                            {% endif %}
                           
                            
                        </div>

                        <label for="to-another-gifts"  class="repo-inputs-cont">
                            <input type="checkbox" name="" id="to-another-gifts" class='hidden'>
                            <div>
                                <h2>الهدايا التي  ارسلتها الى احدهم</h2>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <hr>
                        </label>
                        <!--  الهدايا التي اهديتها انا الي شخص اخر -->
                        <div class="products-cards to-another-gifts hidden">

                            {% if for_frind %}
                                {% for gift_item in for_frind %}
                                    {% include "common/gift-repo-card.html" %}
                                {% endfor %}
                            {% else %}
                                {% include "common/no-result.html" %}
                            {% endif %}
                            
                        </div>

                        <!-- End Show-related Gifts -->

                    </div>
                </div>
            </div>
            <!-- End gift-products  -->
             
            <!-- Start copons-products  -->
            <div class="favorite copons-cards ">
                <div class="searched-products">
                    <div class="container">
                        <div class="products-cards">

                            {% if active_copons or expired_copons %}

                                {% for usage_copon in active_copons %}
                                    {% include "common/copon-repo-card.html" %}
                                {% endfor %} 
            
                                {% for usage_copon in expired_copons %}
                                    {% include "common/copon-repo-card.html" %}
                                {% endfor %}
                            {% else %}

                                {% include "common/no-result.html" %}

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <!-- End copons-products  -->

        </div>
    </div>

    <!-- Start use-code-pop-page Section -->
    <div class="Pop-up-page use-code-pop-page">
        <div class="logo">
            <img src="{% static "/images/name logo.jpg" %}" alt="">
        </div>
        <div class="errors">
            <div class="error-message">
                <p>الكود الذي أدخلته غير صحيح</p>
            </div>
            <div class="error-message">
                <p>الكود الذي أدخلته  مستخدم بالفعل</p>
            </div>
        </div>
        <form action="">
            <h3>رجاءً ادخل كود الكرت الذي لديك لأضافته الى مخزونك</h3>
            <input type="text" name="" id="">
            <input type="submit" value="استعمال الكود">
        </form>
    </div>
    <!-- End use-code-pop-page Section -->



{% endblock content %}












