{% extends "partials/base.html" %}
{% load static %}

{% block content %}

    <div class="cards-store cards-repo">
        <div class="fav-page page">
         
            <div class="padding-con">
                <div class="page-title">
                    <h2>الكوبونات الخاصة بي ({{ copons_count }})</h2>
                </div>
            </div>
            <!-- Start use-code -->
                <div class="search-bar" >
                    <div class="container">
                        <div class="repo-title">
                            <span class="use-code-link">هل لديك كود هدية؟</span>
                        </div>
                    </div>
                </div>
            <!-- End use-code -->

            <!-- Start copons-products  -->
            <div class="favorite copons-cards ">
                <div class="searched-products">
                    <div class="container">
                        <div class="products-cards">

                            {% if active_copons or expired_copons %}

                                {% for usage_copon in active_copons %}
                                    {% include "common/copon-repo-card.html" %}
                                {% endfor %} 
            
                                {% for usage_copon in expired_copons %}
                                    {% include "common/copon-repo-card.html" %}
                                {% endfor %}
                            {% else %}

                                {% include "common/no-result.html" %}

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <!-- End copons-products  -->

        </div>
    </div>

    <!-- Start use-code-pop-page Section -->
    <div class="Pop-up-page use-code-pop-page">
        <div class="logo">
            <img src="{% static "/images/name logo.jpg" %}" alt="">
        </div>
        <div class="errors">
           {% comment %} append errors here {% endcomment %}
        </div>
        <form action="">
            <h3>رجاءً ادخل كود الكرت الذي لديك لأضافته الى مخزونك</h3>
            <input type="text" name="verfie-code">
            <input type="submit" value="استعمال الكود">
        </form>
    </div>
    <!-- End use-code-pop-page Section -->

{% endblock content %}





