{% extends "admin/change_form.html" %}
{% load static %}
{% block submit_buttons_bottom %}
    {{ block.super }}
    <style>
        .print-button {
            display: block;
            text-align: center;
            background-color: #007bff;
            color: white;
            padding: 10px 15px;
            width: 100%;
            border: none;
            border-radius: 10px ;
            -webkit-border-radius: 10px ;
            -moz-border-radius: 10px ;
            -ms-border-radius: 10px ;
            -o-border-radius: 10px ;
        }
    </style>
    <div style="margin-top: 10px;">
        <a href="{% url 'orders:print_invoice' original.pk %}" class="print-button">
            🖨 طباعة الفاتورة
        </a>
    </div>
{% endblock %}
