/* ==================================== Blog Page  ======================================================= */
.blog {
    margin-bottom: 80px;
    position: relative;
  }
  .blog .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
  }
  .blog .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* تأثير تغبيش */
  .blog .image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000005e;
  }
  .blog  .title {
    background-color: var(--background-color-alt);
    font-size: var(--lab-xl-size);
    color: var(--main-color);
    box-shadow: var(--main-shadow);
    text-align: center;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: -45px;
    z-index: 2;
    transform: translateX(-50%);
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .blog  .title h1 {
    text-wrap: nowrap;
    padding: 8px 20px;
    margin: 5px;
  }
  
  .blog .container {
    position: relative;
    text-align: center;
    max-width: 80%;
    padding: 20px;
    margin-bottom: 50px;
    /* background-color: red; */
  }
  
  /* Lab media */
  @media (max-width: 902px) {
    .blog .container {
      max-width: 100%;
    }
  }
  /* tab media */
  @media (max-width: 768px) {
    .blog .title {
      font-size: var(--tab-xl-size);
    }
  }
  /* mobile media */
  @media (max-width: 597px) {
    .blog .title {
      font-size:calc(var(--mob-l-size) - 2px );
    }
  }
  /* small mobile media */
  @media (max-width: 394px) {
    .blog .title {
      font-size:calc(var(--mob-m-size) - 2px );
    }
  }
  /* ver small mobile media */
  @media (max-width: 358px) {
    .blog .title {
      font-size: calc(var(--mob-xs-size) - 2px );
    }
  }
  .blog .sections {
    padding-top: 60px;
  }
  .blog .sections .sections-links {
    background-color: var(--background-color-alt);
    width: 80%;
    margin: 0 auto;
  }
  .blog .sections .sections-links li{
    padding: 15px;
  }
  .blog .sections .sections-links li:not(:last-child){
    border-bottom: 2px solid var(--seprator-color);
  }
  .blog .sections .sections-links li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-text-color);
    font-size: var(--lab-xl-size);
    font-weight: bold;
    padding-right: 5px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
  }
  .blog .sections .sections-links li a:hover{
    color: var(--main-color);
    margin-right: 30px;
  }
  .blog .sections .sections-links li i{
    margin-left: 5px;
    color: var(--main-color);
  }
  .blog.secondary-page .content{
    text-align: start;
    margin-top: 70px;
    padding: 20px;
    min-height: 200px;
    line-height: 1.7;
    font-size: var(--lab-l-size);
    background-color: var(--background-color-alt);
    color: var(--main-text-color);
    box-shadow: var(--main-shadow);
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  .blog.secondary-page .content h3 {
    color: var(--main-color);
    margin:5px 0;
    font-size: var(--lab-xl-size);
  }
  .blog.secondary-page .content .article-title {
    position: relative;
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid var(--seprator-color);
    color: var(--main-text-color);
  }
  .blog.secondary-page .content .article-title i {
    color: var(--main-color);
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .blog.secondary-page .content .article-content {
    color: var(--disaple-text-color);
    display: none;
    margin-bottom: 20px;
  }
  .secondary-page .back-to-help {
    background-color: var(--seprator-color);
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    border-radius: calc(var(--main-border-radius) - 3px);
    -webkit-border-radius: calc(var(--main-border-radius) - 3px);
    -moz-border-radius: calc(var(--main-border-radius) - 3px);
    -ms-border-radius: calc(var(--main-border-radius) - 3px);
    -o-border-radius: calc(var(--main-border-radius) - 3px);
    
  }
  .secondary-page .back-to-help a{
    color: var(--disaple-text-color);
    font-size: var(--lab-s-size);
    display: flex;
    align-items: center;
    transition: 0.2s ;
    -webkit-transition: 0.2s ;
    -moz-transition: 0.2s ;
    -ms-transition: 0.2s ;
    -o-transition: 0.2s ;
  }
  .secondary-page .back-to-help:hover a {
    padding: 2px 15px;
    color: var(--main-color);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  .secondary-page .back-to-help a i {
    margin-right: 10px;
    rotate: 180deg;
  }
  /* tab media */
  @media (max-width: 768px) {
    .blog .sections .sections-links li a{
      font-size: var(--tab-xl-size);
    }
    .blog.secondary-page .content{
      font-size: var(--tab-l-size);
      margin-top: 50px;
    }
    .blog.secondary-page .content h3 {
      font-size: var(--tab-xl-size);
    }
    .secondary-page .back-to-help a{
      font-size: var(--tab-s-size);
    }
  }
  /* mobile media */
  @media (max-width: 597px) {
    .blog .sections .sections-links li a{
      font-size: var(--mob-xl-size);
    }
    .blog.secondary-page .content{
      font-size: var(--mob-l-size);
      margin-top: 30px;
    }
    .blog.secondary-page .content h3 {
      font-size: var(--mob-xl-size);
    }
    .secondary-page .back-to-help a{
      font-size: var(--mob-s-size);
    }
  }
  /* mobile media */
  @media (max-width: 427px) {
    .blog .sections .sections-links li a{
      font-size: var(--mob-l-size);
    }
    .blog.secondary-page .content .paragraph .article-title{
      padding-left: 32px;
      margin-top: 30px;
    }
    .blog.secondary-page .content{
      font-size: var(--mob-m-size);
      margin-top: 30px;
    }
    .blog.secondary-page .content h3 {
      font-size: var(--mob-l-size);
    }
    .secondary-page .back-to-help a{
      font-size: var(--mob-s-size);
    }
  }