/* Start Cards-Store & Cards Repo Page */

.cards-repo .search-bar {
    padding-top: 20px;
  }
  .cards-store .padding-con {
    padding-top: 110px;
    margin-bottom: 10px;
  }
  .cards-store .page-title {
    padding: 15px 0;
    width: 45%;
    margin: 0 auto;
    color: var(--main-color);
    text-align: center;
    box-shadow: var(--main-shadow);
    background-color: var(--background-color-alt);
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  /* tab media */
  @media (max-width: 768px) {
    .cards-store .page-title {
      font-size: var(--tab-s-size);
      width: 60%;
    }
  }
  /* mobile media */
  @media (max-width: 448px) {
    .cards-store .padding-con {
      margin-bottom: 0;
    }
    .cards-store .page-title {
      font-size: var(--mob-s-size);
      width: 70%;
    }
  }
  .cards-store .repo-title {
    position: relative;
    text-align: center;
    font-size: var(--lab-l-size);
    font-weight: bold;
    text-wrap: nowrap;
    margin: 0 auto 50px;
    padding-bottom: 20px;
  }
  .cards-store .repo-title span {
    position: absolute;
    left: 50%;
    bottom: -90%;
    font-size: 12px;
    padding: 10px;
    background-color: var(--seprator-color);
    color: var(--disaple-text-color);
    border-radius: calc(var(--main-border-radius) - 3px );
    -webkit-border-radius: calc(var(--main-border-radius) - 3px );
    -moz-border-radius: calc(var(--main-border-radius) - 3px );
    -ms-border-radius: calc(var(--main-border-radius) - 3px );
    -o-border-radius: calc(var(--main-border-radius) - 3px );
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    cursor: pointer;
    text-shadow: 0 0 7px ;
  }
  /* tab media */
  @media (max-width: 768px) {
    .cards-store .repo-title {
      font-size: var(--tab-l-size);
    }
  }
  /* mobile media */
  @media (max-width: 597px) {
    .cards-store .repo-title {
      font-size: var(--mob-l-size);
    }
  }
  /* small mobile media */
  @media (max-width: 390px) {
    .cards-store .repo-title {
      font-size: var(--mob-m-size);
    }
  }
  .cards-store .repo-title input[type="radio"] {
    display: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
  }
  .cards-store .repo-title label {
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  .cards-store .repo-title label.active::before {
    content: '';
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 50%;
    width: 60%;
    height: 3.5px;
    background-color: var(--main-color);
    border-radius: 5px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  /* mobile media */
  @media (max-width: 597px) {
    .cards-store .repo-title label.active::before {
      width: 50%;
      height: 3px;
    }
  }
  @media (max-width: 510px) {
    .cards-store .product-box .add-to-cart span {
        visibility: visible;
        display: block;
    }
  }
  @media (min-width: 923px) {
    .cards-store .specific .product-price {
        font-size: var(--lab-m-size);
    }
  }
  @media (max-width: 596px) {
    .cards-store .specific  .product-price {
      font-size: var(--mob-l-size);
    }
  }
  @media (max-width: 412px) {
    .cards-store .product-box .product-price {
      font-size: var(--mob-xs-size) !important ;
    }
  }
  @media (max-width: 376px) {
    .cards-store .product-box .product-price {
      font-size: var(--mob-s-size) !important;
      padding-bottom: 5px;
    }
  }
  @media (max-width: 336px) {
    .cards-store .product-box .product-price {
      padding-bottom: 25px;
    }
  }
  .use-code-pop-page {
    text-align: center;
    padding-bottom: 40px;
  }
  .use-code-pop-page .errors{
    margin-bottom: 15px;
    max-height: 63px;
  }
  .use-code-pop-page .errors .error-message {
    height: 30px;
    margin-bottom: 3px;
    background-color: #b72727;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .use-code-pop-page .errors .error-message p {
    font-size: var(--tab-s-size);
  }
  @media (max-width: 597px) {
    .use-code-pop-page .errors .error-message p {
      margin-top: 0px;
      padding: 0 0px;
    }
  }
  @media (max-width: 397px) {
    .use-code-pop-page .errors .error-message {
      height: 20px;
    }
    .use-code-pop-page .errors .error-message p {
      font-size: var(--mob-s-size);
    }
  }
  .use-code-pop-page form h3 {
    margin-bottom: 15px;
    padding: 0 25px;
  }
  .use-code-pop-page form input[type="text"] {
    height: 30px;
    width: 60%;
    margin: 0 auto 15px;
  }
  .use-code-pop-page form input[type="submit"] {
    display: block;
    margin: 10px auto 0;
    padding: 10px;
    font-weight: 900;
    color: #ffffff;
    background-color: var(--main-color);
  }
  /* tab media */
  @media (max-width: 768px) {
    .use-code-pop-page form input[type="text"] {
      width: 70%;
    }
  }
  /* mobile media */
  @media (max-width: 597px) {
    .use-code-pop-page .logo {
      margin-bottom: 15px;
  }
  }
  @media (max-width: 412px) {
    .use-code-pop-page form input[type="text"] {
      width: 85%;
    }
    .use-code-pop-page form input[type="submit"] {
      font-size: var(--mob-s-size);
      margin:5px auto 0;
    }
  }
  /* End Cards-Store & Cards Repo Page */
  /* Start Copon & Gift Details Page */
  @media (min-width: 768px) and (max-width: 992px) {
    .cards-details .container {
        max-width: 100%;
    }
  }
  @media (min-width: 0px) and (max-width: 768px) {
    .cards-details .container {
        max-width:100%;
    }
  }
  .cards-details {
    padding:100px 0 50px;
    margin: 0 50px 20px;
    position: relative;
    background-color: var(--background-color-alt);
    box-shadow: var(--main-shadow);
  }
  @media (max-width: 858px) {
    .cards-details {
      margin: 0 20px 20px;
    }
  }
  .cards-details .exit-button{
    position: absolute;
    left: 25px;
    top: 110px;
  }
  @media (max-width: 512px){
    .cards-details .exit-button{
      font-size: var(--mob-xs-size);
    }
  }
  @media (max-width: 392px){
    .cards-details .exit-button{
      font-size: calc(var(--mob-s-size) - 2px );
      padding: 8px;
    }
  }
  .cards-details .upper-part{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  .cards-details .upper-part .card-image {
    width: 300px;
    margin-left: 40px;
  }
  .cards-details .upper-part .card-image img {
    width: 100%;
    height: 100%;
  }
  .cards-details .upper-part .name-price{
    position: relative;
    width: 80%;
    margin-top: 20px;
  }
  @media (max-width: 392px){
    .cards-details .upper-part .name-price{
      margin-top: 30px;
    }
  }
  .cards-details .upper-part .name-price h3 {
    color: var(--main-color);
    font-size: var(--lab-xxl-size);
  }
  .cards-details .upper-part .name-price .p-price {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: calc(var(--lab-l-size) + 3px);
  }
  .cards-details .upper-part .name-price p i{
    color: var(--main-color);
  }
  
  .cards-details .upper-part .description {
    margin: 30px 0;
  }
  .cards-details .upper-part .description  div {
    font-size: var(--lab-m-size);
    margin-bottom: 15px;
  }
  .cards-details .upper-part .description  p {
    color: var(--main-text-color);
    display: inline-block;
    width: 200px;
  }
  .cards-details .upper-part .description  p.expiration {
    font-size: var(--lab-xs-size);
    width: 70%;
    line-height: 1.7;
  }
  .cards-details .upper-part .description  span {
    color: var(--disaple-text-color);
  }
  @media (max-width: 798px) {
    .cards-details .upper-part .name-price h3 {
      font-size: var(--tab-xxl-size);
    }
    .cards-details .upper-part .name-price .p-price {
      font-size: calc(var(--tab-l-size) + 3px);
      left: 10px;
      bottom: 10px;
    }  
    .cards-details .upper-part .description  div {
      font-size: var(--tab-m-size);
    }
    .cards-details .upper-part .description  p {
      width: 150px;
    }
    .cards-details .upper-part .description  p.expiration {
      font-size: var(--tab-xs-size);
    }
  }
  @media (max-width: 688px) {
    .cards-details .upper-part .name-price h3 {
      font-size: var(--tab-xl-size);
    }
    .cards-details .upper-part .name-price .p-price {
      font-size: calc(var(--tab-m-size) + 3px);
      left: 10px;
      bottom: 10px;
    }  
    .cards-details .upper-part .description {
      margin-top: 20px;
    }
    .cards-details .upper-part .description  div {
      font-size: var(--tab-xs-size);
    }
    .cards-details .upper-part .description  p {
      width: 150px;
    }
    .cards-details .upper-part .description  p.expiration {
      font-size: var(--tab-s-size);
    }
  }
  @media (max-width: 596px) {
    .cards-details .upper-part .card-image {
      width: 250px;
      margin-left: 20px;
    }
    .cards-details .upper-part .name-price h3 {
      font-size: var(--mob-xl-size);
    }
    .cards-details .upper-part .name-price .p-price {
      font-size: calc(var(--mob-m-size) + 3px);
      bottom: 5px;
    }  
    .cards-details .upper-part .description  div {
      font-size: var(--mob-xs-size);
    }
    .cards-details .upper-part .description  p {
      width: 120px;
    }
    .cards-details .upper-part .description  p.expiration {
      font-size: var(--mob-xs-size);
    }
  }
  @media (max-width: 496px) {
    .cards-details .upper-part .card-image {
      width: 200px;
      margin-left: 15px;
    }
    .cards-details .upper-part .name-price h3 {
      font-size: var(--mob-l-size);
    }
    .cards-details .upper-part .name-price .p-price {
      font-size: calc(var(--mob-xs-size) + 3px);
      bottom: 0px;
    }  
    .cards-details .upper-part .description  div {
      font-size: var(--mob-s-size);
    }
    .cards-details .upper-part .description  p {
      width: 80px;
    }
    .cards-details .upper-part .description  p.expiration {
      font-size: var(--mob-s-size);
      width: 80%;
    }
  }
  @media (max-width: 370px) {
    .cards-details .upper-part .card-image {
      width: 180px;
      margin-left: 10px;
    }
    .cards-details .upper-part .name-price h3 {
      font-size: var(--mob-m-size);
    }
    .cards-details .upper-part .name-price .p-price {
      font-size: calc(var(--mob-s-size) + 3px);
    }  
    .cards-details .upper-part .description  div {
      font-size: calc(var(--mob-s-size) - 2px);
    }
    .cards-details .upper-part .description  p {
      width: 65px;
    }
    .cards-details .upper-part .description  p.expiration {
      font-size: calc(var(--mob-s-size) - 2px);
      width: 90%;
  
    }
  }
  .cards-details .lower-part{
    padding: 0 20px;
  }
  .cards-details .lower-part  h3 {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--background-color);
    box-shadow: 0 0 5px var(--main-color);
    color: var(--main-color);
    font-size: var(--lab-xl-size);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  @media (max-width: 688px) {
    .cards-details .lower-part  h3 {
      margin-bottom: 15px;
      font-size: var(--tab-xl-size);
    }
  }
  @media (max-width: 492px) {
    .cards-details .lower-part  h3 {
      margin-bottom: 10px;
      font-size: var(--mob-l-size);
    }
  }
  .cards-details .lower-part .recipet {
    padding: 0 20px;
  }
  .cards-details .lower-part .recipet .buy-for {
    text-align: center;
  }
  .cards-details .lower-part .recipet .buy-for .option {
    padding: 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .recipet .buy-for input , .cards-type input[type='radio']{
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .custom-radio {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--background-color-alt);
    border-radius: 50%;
    border: 2px solid var(--main-text-color);
  }
  /* تأثير عند تحديد الراديو */
  input[type="radio"]:checked + .custom-radio {
    background-color: var(--main-color); /* اللون الجديد عند التحديد */
    border-color: var(--main-color);
  }
  
  .custom-radio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: var(--main-text-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  input[type="radio"]:checked + .custom-radio::after {
    display: block;
  }
  .cards-details .lower-part .recipet .buy-for label {
    padding-right: 5px;
  }
  @media (max-width: 492px) {
    .cards-details .lower-part .recipet .buy-for .option {
      padding: 10px;
      font-size: var(--mob-xs-size);
    }
    .cards-details .lower-part .recipet .buy-for label {
      padding-right: 5px;
    }
  }
  @media (max-width: 382px) {
    .cards-details .lower-part .recipet .buy-for .option {
      padding: 5px;
      font-size: var(--mob-s-size);
    }
  }
  .buy-as-gift {
    background-color: var(--background-color);
    padding: 20px 15px;
    box-shadow: 0 0 10px var(--main-color);
  }
  .buy-as-gift .form-item {
    margin-bottom: 10px;
  }
  .buy-as-gift .form-item label:first-child {
    display: inline-block;
    color: var(--main-color);
    font-size: var(--lab-s-size);
    width: 150px;
  }
  .buy-as-gift .form-item input:not([type="checkbox"]){
    background-color: var(--background-color-alt);
    padding: 5px;
    width: 250px;
  }
  .buy-as-gift .form-item input[type='checkbox']{
    margin-left: 5px;
  }
  .buy-as-gift .message-details .form-item {
    display: flex;
    flex-direction: column;
  }
  .buy-as-gift .message-details .form-item input ,  .form-item #content{
    margin: 10px;
  }
  .buy-as-gift .message-details .form-item #content {
    background-color: var(--background-color-alt);
    border: none;
    color: var(--main-text-color);
    caret-color: var(--main-color);
    min-width: 250px;
    width: 400px;
    max-width: 800px;
    min-height: 40px;
    height: 150px;
    max-height: 400px;
    padding: 10px;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  .cards-details .form-item #content:focus {
    outline: none;
  }
  @media (max-width:602px) {
    .buy-as-gift .form-item label:first-child {
      font-size: var(--mob-xs-size);
      width: 130px;
    }
    .buy-as-gift .form-item input:not([type="checkbox"]){
      width: 200px;
    }
    .buy-as-gift .form-item input:not([type="checkbox"])::placeholder {
      font-size: var(--mob-xs-size);
    }
    .buy-as-gift .message-details .form-item #content {
      min-width: 50px;
      width: 95%;
      max-width: 300px;
      height: 100px;
      max-height: 200px;
      padding: 5px;
      font-size: var(--mob-s-size);
    }
  }
  @media (max-width:518px) {
    .buy-as-gift .message-details .form-item input ,  .form-item #content{
      margin: 10px 5px;
    }
    .buy-as-gift > .form-item label {
      font-size: calc(var(--mob-s-size) + 2px);
      margin-bottom: 10px;
    }
    .buy-as-gift .form-item input:not([type="checkbox"]){
      margin-right: 5px;
      width: 180px;
    }
    .buy-as-gift .form-item input[type='text']::placeholder {
      font-size: var(--mob-s-size);
    }
    .buy-as-gift .message-details .form-item #content {
      min-width: 50px;
      width: 95%;
      max-width: 300px;
      height: 100px;
      max-height: 200px;
      padding: 5px;
      font-size: var(--mob-s-size);
    }
  }
  @media (max-width:402px) {
    .buy-as-gift .form-item label {
      font-size: var(--mob-s-size) ;
    }
    .buy-as-gift .form-item input[type='text']::placeholder {
      font-size: var(--mob-s-size);
    }
    .buy-as-gift .message-details .form-item #content {
      font-size: var(--mob-s-size);
    }
  }
  @media (max-width:360px) {
    .buy-as-gift .form-item input:not([type="checkbox"]){
      width: 135px;
    }
  }
  .cards-details .lower-part .recipet .price {
    background-color: var(--background-color);
    box-shadow: 0 0 5px var(--main-color);
    margin-top: 20px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cards-details .lower-part .recipet .price p {
    font-size: var(--lab-l-size);
  }
  .cards-details .lower-part .recipet .price p i {
    color: var(--main-color);
  }
  .cards-details .lower-part .recipet .price a {
    background-color: var(--main-color);
    color: #ffffff;
    margin: 2px 0;
    padding: 10px;
    font-weight: 800;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .cards-details .lower-part .recipet > a {
    font-size: var(--tab-s-size);
    color: var(--url-color);
    text-decoration: underline;
  }
  .cards-details .lower-part .recipet .price span {
    font-size: var(--mob-xs-size);
    color: #ab2b2b;
    background-color: var(--background-color-alt);
    padding: 5px;
    border-radius: 5px;
  }
  @media (max-width: 768px) {
    .cards-details .lower-part .recipet .price {
      margin-top: 15px;
      padding: 10px 20px;
    }
    .cards-details .lower-part .recipet .price p {
      font-size: var(--tab-l-size);
    }
    .cards-details .lower-part .recipet .price a {
      font-size: var(--mob-xs-size);
    }
  }
  @media (max-width: 568px) {
    .cards-details .lower-part .recipet .price {
      margin-top: 10px;
      padding: 5px 10px;
    }
    .cards-details .lower-part .recipet .price p {
      font-size: var(--mob-l-size);
    }
    .cards-details .lower-part .recipet .price a{
      font-size: var(--mob-s-size);
      padding: 5px;
    }
    .cards-details .lower-part .recipet span {
      font-size: var(--mob-s-size);
      padding: 2px 4px;
    }
  }
  @media (max-width:402px) {
    .cards-details .lower-part .recipet .price p {
      font-size: var(--mob-xs-size);
    }
    .cards-details .lower-part .recipet .price a {
      font-size: calc(var(--mob-s-size) - 2px);
    }
    .cards-details .lower-part .recipet > a {
      font-size: var(--mob-s-size);
    }
  }
  @media (max-width:350px) {
    .cards-details .lower-part .recipet .price p {
      font-size: var(--mob-s-size);
    }
    .cards-details .lower-part .recipet > a {
      font-size: 8px;
    }
  }
  .cards-details .lower-part .recipet .note {
    display: block;
    text-decoration: underline;
    text-wrap: nowrap;
    text-align: center;
    margin: 20px auto 0;
    font-size: var(--mob-xs-size);
    color: #312eb1;
  }
  @media (max-width:562px) {
    .cards-details .lower-part .recipet .note {
      font-size: var(--mob-s-size);
    }
  }
  @media (max-width:380px) {
    .cards-details .lower-part .recipet .note {
      font-size: calc(var(--mob-s-size) - 2px);
    }
  }
/* End Copon & Gift Details Page */

/* Start some ediit in copon & gift card */
.specific .product-info .card-info {
    line-height: 1.6;
  }
  @media (min-width: 793px) {
    .specific .product-info .card-info {
        font-size: var(--mob-m-size) !important;
    }
  }
  @media (max-width: 792px) {
    .specific .product-info .card-info {
        font-size: 12px !important;
    }
  }
  @media (max-width: 424px) {
    .specific .product-info .card-info {
        font-size: 10px !important;
    }
  }