{% extends "partials/base.html" %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static "/css/blog.css" %}">  
{% endblock %}

{% block content %}
    <!-- Start blog page   -->
    <div class="blog" style="position: relative; padding-top: 80px;">
        <!-- Start blog page   -->
        <div class="long-image">
            <img class=" lazy-load" 
                src="{% static 'images/rectangle-default.webp' %}" 
                data-src="{% static '/images/blog-background.webp' %}" 
                alt="fikra store shop tobruk طبرق ليبيا متجر فكرة"
                width="1600" height="900" 
            >
            <div class="shimmer-effect"></div>
        </div>
        <div class="container">
            <div class="title">
                <h1>الأقسام</h1>
            </div>
            <div class="sections">
                <ul class="sections-links">
                    {% if blog_pages %}
                        {% for page in blog_pages %}
                            <li>
                                <a href="{% url 'blog:page-details' page.slug %}" > {{ page.title }} <i class="fa-solid fa-angles-left"></i></a>
                            </li>
                        {% endfor %}
                    {% else %}
                    <p style='padding:20px;'>مع الأسف! لا توجد أقسام حتى الأن</p>
                    {% endif %}
                    {% if questions_page %}
                        <li>
                            <a href="{% url 'blog:questions-page' %}">{{ questions_page.title }} <i class="fa-solid fa-angles-left"></i></a>
                        </li>
                    {% endif %}
                </ul>            
            </div>
        </div>
    </div>
    <!-- End blog page   -->
{% endblock content %}