{% load static %}

<div class="specific">
    <div class="product-box ">
        <a href=" {% url "cards:copon-details" card.id %}">
            <div class="product-image">
                <img class="lazy-load" 
                        src="{% static 'images/square-default.webp' %}" 
                        data-src="{{ card.img.url }}" 
                        alt="{{ card.name }} تخفيض"
                        loading="lazy" 
                        height="168" width="210"
                >
                <div class="shimmer-effect"></div>
            </div>
            <div class="product-info">
                <h4 class="product-name">{{ card.name }}</h4>

                <p class="product-description">القيمة: {{ card.value }}دينار </p>

                <h4 class="product-price point">

                    <div class="buy-by-points {% if  card.price > user_points %}forbidden{% endif %}{% if card.price == 0 %}free{% endif %} ">
                        {% if card.price == 0 %} 
                            مجانا 
                        {% else %}
                            {{ card.price }}<i class="fa-solid fa-gem"></i>
                        {% endif %} 
                    </div>   

                </h4>
            </div>
        </a> 
        {% if user_points >= card.price  %}
            <span class="add-to-cart">
                <a href="{% url "cards:buy-copon" card.id %}" class="copon-buy-done-link">
                    <span> شراء </span><i class="fa-solid fa-cart-shopping"></i>
                </a>
            </span>

        {% else %}
            <span class="add-to-cart">
                <a href="#"><span>نقاطك غير كافية!</span></a>
            </span>
        {% endif %}
    </div>
</div>
<script>
    {% comment %} دالة تمنع النقر المتتالي على زر الشراء {% endcomment %}
    document.addEventListener("DOMContentLoaded", function () {
        function disableClickTemporarily(link, delay = 2000) {
            if (link.classList.contains("disabled")) return; // منع النقر المتكرر أثناء التعطيل
            link.classList.add("disabled");
            link.style.pointerEvents = "none"; // تعطيل النقر
            link.style.opacity = "0.5"; // تقليل الشفافية أثناء التعطيل

            setTimeout(() => {
                link.classList.remove("disabled");
                link.style.pointerEvents = "auto"; // إعادة تفعيل النقر
                link.style.opacity = ""; // إعادة الرابط لوضعه الطبيعي
            }, delay);
        }

        // استهداف جميع الروابط التي تحتوي على الكلاس "copon-buy-done-link"
        const links = document.querySelectorAll(".copon-buy-done-link");
        links.forEach(link => {
            link.addEventListener("click", function (event) {
                disableClickTemporarily(this);
            });
        });
    });    
</script>

