{% load static %}

<!-- product-start -->
<div class="specific">
    <div class="product-box  ">
        <a>
            <div class="product-image">
                <img src="{{ gift_item.gift.img.url }}" alt="خصم {{ gift_item.gift.name }}">
            </div>
            <div class="product-info">
                <h4 class="product-name">{{ gift_item.gift.name }}</h4>
                {% if gift_item in for_frind %}
                    <p class="product-description">
                        القيمة: {{ gift_item.sell_value }} دينار
                        <br>
                        المستلم: {{ gift_item.recipient }}
                        <br>
                        تاريخ الارسال: {{ gift_item.purchase_date|date:"Y/m/d ,h:ia" }}
                    </p>
                {% elif gift_item in from_frind %}
                    <p class="product-description">
                        القيمة: {{ gift_item.sell_value }} دينار
                        <br>
                        المرسل: {{ gift_item.buyer }}
                        <br>
                        تاريخ الاستلام: {{ gift_item.purchase_date|date:"Y/m/d ,h:ia" }}
                    </p>
                {% elif gift_item in from_self %}
                    <p class="product-description">القيمة: {{ gift_item.sell_value }} دينار</p>
                    <p class="product-description">تاريخ الشراء: {{ gift_item.purchase_date|date:"Y/m/d ,h:ia" }}</p>
                {% endif %}
            </div>
        </a> 
        {% if gift_item in from_frind or gift_item in for_frind %}
            <div class='clik-to-surprise'>استعراض <i class="fa-solid fa-eye"></i></div>
        {% endif %}
        <span class="add-to-cart" >
            {% comment %} رابط لصفحة الاسئلة {% endcomment %}
            <a href=""><span> طريقة الاستعمال </span></a>
        </span>
    </div>
</div>
<!-- product-end -->

{% include "pop-pages/surprise.html" %}