{% extends "partials/base.html" %}
{% load static %}      
{% block additional_css %}
    <link rel="stylesheet" href="{% static "/css/main-pages.css" %}">   
{% endblock %}
{% block content %}
        <!-- Start Searched-products  -->
        <div class="search ads-page" style="padding-top:100px">
            <div class="ads-details">
                <h1 class="ad-title"> {{ad.title}} </h1>
                <p class="ad-description"> {{ ad.info }}</p>
            </div>
            <hr class="sep">
            <div class="searched-products">
                <div class="container">
                    <div class="products-cards">
                        {% if ad_content %}
                            {% for ad_product in ad_content %}
                                {% for product in ad_product.product.all %}
                                    <!-- product-start -->
                                    <div class="specific">
                                        {% include "common/product-card.html" %}
                                    </div>
                                    <!-- product-end -->
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            {% include "common/no-result.html" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Searched-products  -->
{% endblock content %}

