{% extends "partials/base.html" %}
{% load static %}

{% block content %}
    <div class="fav-page page">
        <!-- Start Search Bar -->
        <div class="fav-search">
            <div class="search-bar">
                <div class="container">
                    <form id="filter-form" method="get" class="search" action="{% url 'store:favourite_page' %}">
                        {% if products %}
                            {% if request.GET.q  %}
                                <button class='clear-search' OnClick="resetFilters();"><i class="fa-solid fa-xmark"></i><p>إلغاء </p></button>
                            {% endif %}
                            <input type="search" class="search-input" id="search-query" name="q" placeholder="ما الذي تبحث عنه؟" value="{{ request.GET.q }}">                   
                            
                            <button id="clear-favourites-btn" type="button" class="empty">
                                <span class="delete">إفراغ</span>
                                <span class="items-count">({{ products_count }})</span>
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                             
                            <script>
                                const clearFavouritesUrl = "{% url 'store:clear_favourites' %}";
                                const csrfToken = "{{ csrf_token }}";
                            </script>
                                
                                
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <!-- End Search Bar -->
        <!-- Start fav-products  -->
        <div class="favorite">
            <div class="searched-products">
                <div class="container">
                    <div class="products-cards">
                        {% if request.GET.q %}
                            {% if search_results %}
                                {% for product in search_results %}
                                <!-- product-start -->
                                <div class="specific">
                                    {% include "common/product-card.html" %}
                                </div>
                                <!-- product-end -->
                                {% endfor %}  
                            {% else %}
                                {% include "common/no-result.html" %}
                            {% endif %}

                        {% else %}
                            {% if products %}        
                                {% for product in products %}
                                    <!-- product-start -->
                                    <div class="specific">
                                        {% include "common/product-card.html" %}
                                    </div>
                                    <!-- product-end -->
                                {% endfor %}
                            {% else %}
                                {% include "common/no-result.html" %}
                            {% endif %}
                        {% endif %}          
                    </div>
                </div>
            </div>
        </div>
        <!-- End fav-products  -->
    </div>

{% endblock content %}




