{% extends "partials/base.html" %}
{% load static %}

{% block content %}

<div class="cards-details">
    <div class="fav-page page">
        <div class="container">

        <a href="javascript:void(0);" onclick="goBack()">
            <span class="exit-button"><i class="fa-solid fa-arrow-left"></i></span>
        </a>

        <div class="upper-part">
            <div class="card-image">
                <img src="{{ gift.img.url }}" alt="Product Image">
            </div>
            <div class="name-price">
                <h3> {{ gift.name }}</h3>                   
                <div class="description">
                    <div><p>قيمة البطاقة </p><span> {{ gift.value }} دينار</span></div>
                </div>
                {% if gift.price != 0 %}
                    <p class="p-price"> {{ gift.price }} <i class="fa-solid fa-gem"></i></p>
                {% else %}
                    <p class="p-price free">مجاناً</p>
                {% endif %}
                
            </div>
        </div>

        <div class="lower-part">        
            <h3>شراء</h3>
            <div class="recipet">

                <div class="buy-for">
                    <div class="option">
                        <input type="radio" id="for-me" name="buy-for" checked>
                        <span class="custom-radio"></span>
                        <label for="for-me">شراء لنفسي</label>
                    </div>
                    <div class="option">
                        <input type="radio" id="for-another" name="buy-for">
                        <span class="custom-radio"></span>
                        <label for="for-another">اهداء لغيري</label>
                    </div>
                </div>

                <form class="buy-as-gift ">
                    <div class="form-item">
                        <label for="recipient-name"> اسم المستلم:</label>
                        <input type="text" name="recipient-name" placeholder="الاسم" id="recipient-name">
                    </div>
                    <div class="form-item">
                        <label for="recipient-phone"> رقم هاتف المستلم:</label>
                        <input type="text" name="recipient-phone" placeholder="رقم الهاتف " id="recipient-phone">
                    </div>
                    <div class="form-item">
                        <input type="checkbox" name="" id="show-sender-details">
                        <label for="show-sender-details">اظهار معلوماتي للمستلم</label> 
                    </div>
                    <div class="form-item">
                        <input type="checkbox" name="" id="send-message">
                        <label for="send-message">ارسال رسالة الى المستلم</label> 
                    </div>
                    <div class="message-details ">
                        <div class="form-item">
                            <label for="content"> محتوى الرسالة:</label>
                            <textarea name="message-content" id="content" placeholder="اكتب رسالتك هنا" rows="5" cols="50"></textarea>
                        </div>
                    </div>


                </form>

                <div class="price">
                    {% if gift.price != 0 %}
                        <p>السعر {{ gift.price }} <i class="fa-solid fa-gem"></i></p>     
                    {% else %}
                        <p class="p-price free">مجاني</p>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if  user_points >= gift.price %}
                            <input type="submit" value="إتمام عملية الشراء"  >
                        {% else %}
                            <span>نقاطك غير كافية!</span>
                        {% endif %}
                    {% else %}
                        <a href="{% url "accounts:sign" %}">سجل الدخول للشراء</a>
                    {% endif %} 
                    {% comment %} اظهر النافذة والا اخفيها Successfully  اذا كان قيمة المربع المخفي  {% endcomment %}
                    <input type="hidden" class="buy-done-link-hidden" value="">
                </div>

                <a class="note" href="#">
                    هل ترغب بالحصول على البطاقة وليس لديك نقاط كافية؟ 
                </a>
                
            </div> 
        </div>
        </div>

    </div>
</div>

<!-- Start buy-done-pop-page Section -->
<div class="Pop-up-page buy-done-pop-page">
    <div class="logo">
        <img src="/images/name logo.jpg" alt="">
    </div>
    <p >لقد تمت اضافة البطاقة الى مخزون البطاقات الخاص بك بنجاح</p>
    <a href="#">استعراض <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    <i class="fa-solid fa-circle-check"></i>
</div>
<!-- End buy-done-pop-page Section -->

{% endblock content %}