{% extends "partials/base.html" %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static "/css/product-details.css" %}">   
{% endblock %}

{% block content %}

    <div class='my-main-content' style='padding-top:100px;'> 
        <!-- Start product details -->
        <div class="product-details-page "  style='position:relative;'>
            <a href="javascript:void(0);" onclick="goBack()">
                <span class="exit-button"><i class="fa-solid fa-arrow-left"></i></span>
            </a>
            <div class="container">
                <div class="product-details ">
                    <div class="product-images">
                        <!-- image-slider -->
                        <div class="product-slider">
                            <!-- السلايدر الرئيسي -->
                            <div class="swiper-container main-slider">
                                
                                {% if user.is_authenticated %}
                                    <span class="add-to-fav">
                                        <a href="{% url 'store:add_to_favourites' product.id %}" data-product-id="{{ product.id }}" class="add-to-fav-link">
                                            <button>
                                            {% if product.id in favourite_products %}
                                                <i class="fa-solid fa-heart "></i>
                                            {% else %}
                                                <i class="fa-regular fa-heart"></i>
                                            {% endif %}
                                            </button>
                                        </a>
                                    </span>
                                {% else %}
                                    <span class="add-to-fav">
                                        <a href="{% url 'accounts:sign' %}">
                                            <button><i class="fa-regular fa-heart"></i></button>
                                        </a>
                                    </span>
                                {% endif %}
                              
                                <button onclick="copyLink()" class="share-this-product">
                                    <i class="fa-solid fa-share"></i>
                                </button>
 
                                
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <img src="{{product.thumbnail_img.url}}" alt="{{product.name}}">
                                    </div>

                                    {% for image in product_images %}
                                        <div class="swiper-slide">
                                            <img src="{{image.image.url}}" alt="{{product.name}}">
                                        </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                            <!-- السلايدر الثانوي -->
                            <div class="swiper-container thumbnail-slider">
                              <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                  <img src="{{product.thumbnail_img.url}}" alt="{{product.name}}" class="thumbnail">
                                </div>

                                {% for image in product_images %}
                                    <div class="swiper-slide">
                                        <img src="{{image.image.url}}" alt="{{product.name}}" class="thumbnail" >
                                    </div>
                                {% endfor %}

                              </div>
                            </div>
                        </div>
                        <!-- image-slider -->
                    </div>
                    <div class="name-price">
                        <h2>{{ product.name }}<span class="category" style="text-wrap:nowrap;"> {{product.category}} </span></h2>
                        {% if product.available %}
                            <h4 class="product-price {% if product.offer %} offer {% endif %}">
                                <span class="offer-percient">تخفيض <span>{{product.get_offer_percentage}}%</span></span>
                                <div class="buy-by-money"><span class="old"> {{product.price}} </span><span class="new"> | {{product.new_price|floatformat:0}} </span><span> دل </span></div>
                            </h4>
                        {% else %}
                            <h4 class="product-price" style='color:#9D2121;text-wrap:nowrap;'>
                                نفذت الكمية 
                            </h4>
                        {% endif %}
                    </div>
                    <div class="product-description">
                        <p>
                           {{ product.description }}
                        </p>
                    </div>
                </div>

                <div class="product-variants">
                    {% if product.available %}
                        <form action="{% url 'store:add_to_cart' %}" method="post" class='form'>

                            <div class="size">
                                <label for="size" class="size-title">المقاسات:</label>
                                {% for size in sizes %}
                                    <input type="radio" name="size" id="size-{{ forloop.counter }}" value="{{ size.id }}" {% if forloop.counter == 1 %} checked {% endif %} class="size-option">
                                    <label for="size-{{ forloop.counter }}">{{ size.value }}</label>
                                {% endfor %}
                            </div>                     
                    
                            <div class="color">
                                <label for="color" class="color-title">اللون:</label>
                                <div id="color-options">
                                    {% if size_item_map %}
                                        {% for size, items in size_item_map.items %}
                                            <div class="item-group" data-size-id="{{ size.id }}" style="display: {% if forloop.first %}block{% else %}none{% endif %};">
                                                {% for item in items %}
                                                    <input type="radio" name="item" id="item-{{ size.id }}-{{ item.sku }}" value="{{ item.sku }}" class="item-option" {% if forloop.first %}checked{% endif %}>
                                                    <label for="item-{{ size.id }}-{{ item.sku }}">
                                                        <img src="{{ item.image.url }}" alt="{{ item.color }}">        
                                                    </label>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                    
                            <div class="quantity-pd color">
                                <label class="color-title">العدد:</label>
                                <span class="quantity">
                                    <button type="button" class="minus">
                                        <i class="fa-regular fa-square-minus"></i>
                                    </button>
                                    <input type="number" name="qty" id="user-quantity" value="1" min="1" class='q-number'/>
                                    <button type="button" class="plus">
                                        <i class="fa-regular fa-square-plus"></i>
                                    </button>
                                </span>
                                <div class="in-stock">متبقي (<span id="stock-quantity">0</span>) في المخزن</div>
                            </div> 
                    
                            <span class="get-points">عند شرائك لهذا المنتج سوف تحصل على {{ product.bonus }} نقطة</span>
                            <input type="submit" value="أضف إلى السلة" id="add-to-cart" class="add-cart-pop-link">
                        </form>
                    {% else %}
                        <div  class='form' style='padding:20px 20px 40px;text-align:center;'>
                            {% if user.is_authenticated %}
                                <a id="notify-btn" class="notify-btn {% if is_interested %}interested{% endif %}" data-url="{% url 'store:add_interest' product.id %}" >
                                    {% if is_interested %}
                                        سوف نقوم بإعلامك فور توفر المنتج✅
                                    {% else %}
                                        أعلمني عند توفر المنتج
                                    {% endif %}
                                </a>
                            {% else %}
                                <a href="{% url 'accounts:sign' %}" class="notify-btn">
                                    سجل الدخول كي نقوم بإعلامك فور توفر المنتج
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                  
            </div>
            <!-- Start Products Sections -->
            {% if related_category_products %}
                <hr class="sep">
                <section  id="products">
                        <a href="{% url "store:category" product.category.slug %}">
                            <div class="title">
                                <h2>منتجات مشابهة</h2>
                                <i class="fa-solid fa-angles-left"></i>
                            </div>
                        </a>  
                        <div class="swiper products-slider">
                            <div class="swiper-wrapper">
                                {% for product in related_category_products %}
                                    {% include "common/product-card.html" %}
                                {% endfor %}
                            </div>
                        </div> 
                </section>
            {% endif %}
            {% if related_brand_products %}
                <hr class="sep">
                <section  id="products">
                        <a href="{% url "store:brand" product.brand %}">
                            <div class="title">
                                <h2>منتجات من {{product.brand}}</h2>
                                <i class="fa-solid fa-angles-left"></i>
                            </div>
                        </a>  
                        <div class="swiper products-slider">
                            <div class="swiper-wrapper">
                                {% for product in related_brand_products %}
                                    {% include "common/product-card.html" %}
                                {% endfor %}
                            </div>
                        </div> 
                </section>
            {% endif %}
            <!-- End Products Sections -->
        </div>
        <!-- End product details -->

    </div>

{% endblock content %}

{% block additional_js %}
    <script src=" {% static "/javascript/product-details.js" %}" defer></script>
{% endblock %}