
/* ====================================  Account Page  ========================================================== */
/* Strat Points Section  */
.account-points .container {
    padding-top:110px ;
    margin-bottom: 30px; 
    max-width: 60%;
  }
  /* Lab media */
  @media (max-width: 902px) {
    .account-points .container {
      max-width: 70%;
    }
  }
  .my-points{
    background-color: var(--background-color-alt);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: var(--lab-l-size);
    border-radius: calc(var(--main-border-radius) - 3px);
    -webkit-border-radius: calc(var(--main-border-radius) - 3px);
    -moz-border-radius: calc(var(--main-border-radius) - 3px);
    -ms-border-radius: calc(var(--main-border-radius) - 3px);
    -o-border-radius: calc(var(--main-border-radius) - 3px);
  }
  /* Tab media */
  @media (max-width: 793px) {
    .account-points .container {
      max-width: 80%;
    }
    .my-points{
      font-size: var(--tab-l-size);
    }
  }
  /* mobile media */
  @media (max-width: 597px) {
    .account-points .container {
      max-width: 90%;
    }
    .my-points{
      font-size: var(--mob-l-size);
    }
  }
  .my-points h3 {
    color: #B18E4B;
  }
  .my-points .points a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my-points .points a span {
    color: var(--main-text-color);margin-left: 5px;
    font-weight: 600;
  }
  .my-points .points a i {
    color: var(--main-color);
  }
  /* End Points Section  */
  /* Start Account Menu Section   */
  .account-menu .container{
    max-width: 60%;
    margin-bottom: 20px;
  }
  .account-menu .menu-items a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--main-text-color);
    font-size: var(--lab-l-size);
    transition: all 0.2s ;
    -webkit-transition: all 0.2s ;
    -moz-transition: all 0.2s ;
    -ms-transition: all 0.2s ;
    -o-transition: all 0.2s ;
  }
  .account-menu .menu-items a .item button {
    background: none;
    border: none;
    font-size: var(--tab-m-size);
    color: var(--main-text-color);
    font-weight: 700;
    z-index: 2;
    cursor: pointer;
  }
  /* Tab media */
  @media (max-width: 793px) {
    .account-menu .container {
      max-width: 80%;
    }
    .account-menu .menu-items a {
      font-size: var(--tab-l-size);
    }
    .account-menu .menu-items a .item button  {
      font-size: var(--tab-xs-size);
    }
  }
  /* mobile media */
  @media (max-width: 597px) {
    .account-menu .container {
      max-width: 90%;
    }
    .account-menu .menu-items a {
      font-size: var(--mob-l-size);
    }
    .account-menu .menu-items a .item button {
      font-size: var(--mob-m-size);
    }
  }
  /* mobile media */
  @media (max-width: 397px) {
    .account-menu .menu-items a .item button {
      font-size: var(--mob-xs-size);
    }
  }
  .account-menu .menu-items a:hover {
    margin-right: 30px;
  }
  .account-menu .menu-items li:not(:last-child) {
    border-bottom: 1px solid var(--seprator-color);
  }
  .account-menu .menu-items a i{
    color: var(--main-color);
  }
  .account-menu .menu-items a .item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .account-menu .menu-items .item i{
    color: var(--disaple-text-color);
    font-size: var(--lab-m-size);
    margin-left: 20px;
  }
  /* Tab media */
  @media (max-width: 793px) {
    .account-menu .menu-items .item i{
      font-size: var(--tab-m-size);
    }
  }
  .account-menu .menu-items a:hover .item h5, .menu-items a:hover .item button{
    color: var(--main-color);
  }
  /* End Account Menu Section   */
  /* Start Share-Code Section  */
  .share-code code {
    position: relative;
    display: block;
    background-color: var(--background-color);
    margin-top: 10px;
    padding: 10px;
    border-radius: calc(var(--main-border-radius) - 4px);
    -webkit-border-radius: calc(var(--main-border-radius) - 4px);
    -moz-border-radius: calc(var(--main-border-radius) - 4px);
    -ms-border-radius: calc(var(--main-border-radius) - 4px);
    -o-border-radius: calc(var(--main-border-radius) - 4px);
  }
  .share-code code i {
    position: absolute;
    left: 15px;
    color: var(--disaple-text-color);
  }
  /* mobile media */
  @media (max-width: 597px) {
    .share-code {
      width: 300px;
    }
  }
  /* small mobile media */
  @media (max-width: 402px) {
    .share-code {
      width: 260px;
    }
  }
  /* End Share-Code Section  */
  /* ====================================  Account-Info Page  ======================================================= */
  /* Start My Info Section  */
  .my-info .container {
    padding: 20px;
    margin-bottom: 50px;
    max-width: 60%;
    background-color: var(--background-color-alt);
    box-shadow: var(--main-shadow);
    border-radius:var(--main-border-radius) ;
    -webkit-border-radius:var(--main-border-radius) ;
    -moz-border-radius:var(--main-border-radius) ;
    -ms-border-radius:var(--main-border-radius) ;
    -o-border-radius:var(--main-border-radius) ;
  }
  /* Lab media */
  @media (max-width: 902px) {
    .my-info .container {
      max-width: 70%;
    }
  }
  /* mobile media */
  @media (max-width: 597px) {
    .my-info .container {
      max-width: 80%;
    }
  }
  .my-info .my-info-title {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
  }
  .show-delete-menu {
    position: absolute;
    top: 12px;
    left: 10px;
    padding: 10px 15px;
    border: none;
    background-color: var(--background-color);
    color: rgba(213, 10, 10, 0.863);
    font-size: var(--lab-xl-size);
    cursor: pointer;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  .my-info .my-info-title h2 {
    position: relative;
    text-align: center;
    color: var(--main-color);
    font-size: var(--lab-xxl-size);
  }
  .my-info .my-info-title h2::after {
    content: "";
    position: absolute;
    left: 42%;
    bottom: -20px;
    width: 20%;
    height: 5px;
    background-color: var(--main-text-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .my-info .my-info-details {
    width: 90%;
    margin: 0 auto;
  }
  .my-info .my-info-details .details-item {
    margin: 20px 0;
    padding: 5px 10px 10px 20px;
    background-color: var(--background-color);
    border-radius: calc(var(--main-border-radius) - 2px);
    -webkit-border-radius: calc(var(--main-border-radius) - 2px);
    -moz-border-radius: calc(var(--main-border-radius) - 2px);
    -ms-border-radius: calc(var(--main-border-radius) - 2px);
    -o-border-radius: calc(var(--main-border-radius) - 2px);
  }
  .my-info .my-info-details .details-item .title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .my-info .my-info-details .details-item .title p {
    font-size: var(--lab-l-size);
    font-weight: 700;
    color: var(--main-color);
  }
  .my-info .my-info-details .details-item .title i {
    position: absolute;
    left: 5px;
    top: 50%;
    color: var(--disaple-text-color);
    font-size: var(--lab-xs-size);
    padding-top: 10px;
    margin-left: -5px;
  }
  .my-info .my-info-details .details-item .content {
    color: var(--main-text-color);
    font-size: var(--lab-m-size);
  }
  /* Tab media */
  @media (max-width: 793px) {
    .my-info .my-info-title h2 {
      font-size: var(--tab-xxl-size);
    }
    .show-delete-menu {
      padding: 8px 12px;
      top: 5px;
      font-size: var(--tab-xl-size);
    }
    .my-info .my-info-details .details-item .title p {
      font-size: var(--tab-l-size);
    }
    .my-info .my-info-details .details-item .title i {
      font-size: var(--tab-xs-size);
    }
    .my-info .my-info-details .details-item .content {
      font-size: var(--tab-m-size);
    }
  }
  /* mobile media */
  @media (max-width: 597px) {
    .my-info .my-info-title h2 {
      font-size: var(--mob-xxl-size);
    }
    .show-delete-menu {
      top: 0px;
      left: -5px;
      padding: 6px 10px;
      font-size: var(--mob-xl-size);
    }
    .my-info .my-info-details .details-item .title p {
      font-size: var(--mob-l-size);
    }
    .my-info .my-info-details .details-item .title i {
      font-size: var(--mob-xs-size);
    }
    .my-info .my-info-details .details-item .content {
      font-size: var(--mob-m-size);
    }
  }
  /* mobile media */
  @media (max-width: 396px) {
    .my-info .my-info-details {
      width: 100%;
    } 
  }
  .my-info .notfication-section {
    max-width: 90%;
    margin: 0 auto 20px;
  }
  .my-info .notfication-section h2{
    color: var(--main-color);
    font-weight: 800;
    font-size: var(--lab-xl-size);
    text-align: center;
    margin-bottom: 20px;
  }
  .my-info  .notfication-message{
    background-color: var(--background-color);
    margin-bottom: 15px;
  }
  .my-info  .notfication-message .title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 2px solid var(--seprator-color);
    font-size: var(--lab-s-size);
    color: var(--main-text-color);
    cursor: pointer;
  }
  .my-info  .notfication-message .title p{
    position: relative;
    font-weight: 800;
  }
  .my-info  .notfication-message .title p::after{
    display: inline-block;
    content: 'غير مقروءة';
    position: absolute;
    margin-right: 15px;
    padding:2px 5px 4px;
    top: -24px;
    right: -24px;
    background-color: #1d9f4d;
    text-wrap: nowrap;
    color: #ffffff;
    font-size: var(--mob-s-size);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  @media (max-width: 495px) {
    .my-info  .notfication-message .title p::after{
      top: -26px;
    }
  }
  @media (max-width: 402px) {
    .my-info  .notfication-message .title p::after{
      top: -20px;
      right: -14px;
    }
  }
  .my-info  .notfication-message.read .title p::after{
    display: none;
  }
  .my-info  .notfication-message .title span{
    font-size: var(--mob-xs-size);
    display: block;
    margin-left: 30px;
    margin-right: 5px;
    text-wrap: nowrap;
  }
  .my-info  .notfication-message .title i{
    position: absolute;
    left: 10px;
  }
  .my-info  .notfication-message .content{
    font-size: var(--lab-s-size);
    padding: 15px 10px;
    line-height: 1.6;
    word-spacing: 4px;
    display: none;
  }
  .my-info  .notfication-message.read .content{
    color: var(--disaple-text-color);
  }
  /* Tab media */
  @media (max-width: 793px) {
    .my-info .notfication-section h2 {
      font-size: var(--tab-xl-size);
    }
    .my-info  .notfication-message .title {
      font-size: var(--mob-xs-size);
    }
    .my-info  .notfication-message .title span {
      max-width: 90px;
      font-size: var(--mob-s-size);
      margin-left: 20px;
    }
    .my-info  .notfication-message .title p::after {
      font-size: var(--mob-s-size);
    }
    .my-info  .notfication-message .content {
      font-size: var(--tab-s-size);
    }
  }
  /* mobile media */
  @media (max-width: 597px) {
    .my-info .notfication-section h2 {
      font-size: var(--mob-xl-size);
    }
    .my-info  .notfication-message .title {
      font-size: var(--mob-s-size);
    }
    .my-info  .notfication-message .title span {
      font-size: 10px;
      margin-left: 20px;
    }
    .my-info  .notfication-message .title p::after {
      font-size: calc(var(--mob-s-size) - 2px);
    }
    .my-info  .notfication-message .content {
      font-size: var(--mob-s-size);
    }
  }
  /* mobile media */
  @media (max-width: 492px) {
    .my-info .notfication-section {
      max-width: 100%;  
    }
    .my-info  .notfication-message .title span {
      text-wrap: wrap;
      text-align: center;
      max-width: 50px;
    }
  }
  /* mobile media */
  @media (max-width: 400px) {
    .my-info  .notfication-message .title p::after {
      margin-right: 5px;
      font-size: calc(var(--mob-s-size) - 4px);
    }
    .my-info  .notfication-message .title span{
      font-size: 8px;
    }
  }
  /* End My Info Section  */
  

/* ==================================== Sign Page  ======================================================= */
/* Start Sign page content  */
.sign-page .container {
    position: relative;
    padding-top: 30px;
    margin-bottom: 40px;
  }
  .sign-page .sign-card{
    position: relative;
    margin: 0 auto;
    width: 450px;
    min-height: 500px;
    height: 555px;
    box-shadow: var(--main-shadow);
    transform-style: preserve-3d;
    transition: 1s transform;
    -webkit-transition: 1s transform;
    -moz-transition: 1s transform;
    -ms-transition: 1s transform;
    -o-transition: 1s transform;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  /* Tab media */
  @media (max-width: 768px) {
    .sign-page .sign-card {
      width: 400px;
      min-height: 450px;
      height: 490px;
    }
  }
  /* mobile media */
  @media (max-width: 597px) {
    .sign-page .sign-card {
      width: 320px;
      min-height: 400px;
      max-height: 450px;
      height: 420px;
    }
  }
  /* mobile media */
  @media (max-width: 357px) {
    .sign-page .sign-card {
      width: 300px;
    }
  }
  .sign-page .sign-card .sign-in-face, .sign-page .sign-card .log-in-face, .sign-card .verify-face{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--background-color-alt);
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .sign-page .sign-card .sign-in-face{
    z-index: 2;
  }
  .sign-page .sign-card .log-in-face{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  
  .sign-page:not(.verify-page) .sign-card.rotate  {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  
  .sign-page .sign-card .image {
    width: 180px;
    margin: 0px auto 10px;
    padding-top: 10px;
  }
  .sign-page .sign-card .image img{
    width: 100%;
    height: 100%;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  .sign-page .sign-card h1{
    position: relative;
    color: var(--main-color);
    width: 100%;
    text-align: center;
    font-size: var(--lab-l-size);
    margin-bottom: 20px;
  }
  .sign-page .sign-card h1::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 40%;
    background-color:var(--main-text-color);
    width: 20%;
    height: 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .sign-page .sign-card form{
    width: 100%;
  }
  .sign-page .sign-card .read-policy{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: var(--tab-s-size);
    cursor: pointer;
    font-weight: 800;
    color: #1877f2;
    text-decoration: underline;
  }
  .sign-page .sign-card span {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: var(--disaple-text-color);
    font-size: var(--tab-s-size);
    font-weight: 800;
    cursor: pointer;
    text-decoration: underline;
  }.sign-page .sign-card form {
    display: flex;
    flex-direction: column;
  }
  .sign-page .sign-card form .name , .sign-card form .phone-number{
    display: flex;
    flex-direction: column;
    padding:0 15px;
    margin-bottom: 20px;
  }
  .sign-page .sign-card form .name {
    flex-direction: row;
    margin-top: 15px;
  }
  .sign-page .sign-card form .name .first-name, .sign-card form .name .last-name {
    display: flex;
    flex-direction: column;
  }
  .sign-page .sign-card form label {
    margin-bottom: 10px;
    color: var(--main-color);
    font-size: var(--lab-s-size);
  }
  .sign-card form input:not([type="submit"]) {
    height: 35px;
    width: 90%;
    margin: 0 auto;
    color: var(--main-text-color);
    border:1px solid var(--seprator-color);
    padding: 10px;
  }
  .sign-page .sign-card form input[type='submit'] {
    background-color: var(--main-color);
    font-weight: 800;
    color: #ffffff;
    padding: 12px 10px;
    width: 150px;
    cursor: pointer;
  }
  .sign-page .sign-card .log-in-face form input[type='submit'] {
    margin: 35px auto;
  }
  .sign-page .sign-card .sign-in-face form input[type='submit'] {
    margin: 5px auto;
  }
  .sign-card form .phone-number {
    position: relative;
  }
  .sign-page .forget-password{
    position: absolute;
    left: 30px;
    bottom: -20px;
    font-size: calc(var(--mob-xs-size) - 2px);
    text-decoration: underline;
    color: var(--disaple-text-color);
  }
  /* Tab media */
  @media (max-width: 768px) {
    .sign-page .sign-card .image {
      width: 150px;
    }
    .sign-page .sign-card h1{
      font-size: var(--tab-l-size);
    }
    .sign-page .sign-card span{
      font-size: var(--mob-s-size);
    }
    .sign-page .sign-card .read-policy {
      font-size: var(--mob-s-size);
    }
    .sign-page .sign-card form .name , .sign-card form .phone-number{
      margin-bottom: 8px;
    }
    .sign-page .sign-card form label {
      font-size: var(--tab-s-size);
    }
    .sign-card form input:not([type="submit"]) {
      height: 30px;
      padding: 4px 10px;
  
    }
    .sign-page .sign-card form input[type='submit'] {
      font-size: var(--tab-xs-size);
      width: 130px;
    }
  }
  /* mobile media */
  @media (max-width: 597px) {
    .sign-page .sign-card .image {
      width: 120px;
    }
    .sign-page .sign-card h1{
      font-size: var(--mob-l-size);
      margin-bottom: 15px;
    }
    .sign-page .sign-card span{
      font-size: calc(var(--mob-s-size) - 2px);
    }
    .sign-page .sign-card form label {
      font-size: 12px;
    }
    .sign-page .sign-card form input[type='submit'] {
      font-size: var(--mob-xs-size);
      padding: 8px 10px;
      width: 120px;
      margin-top: 35px;
    }
  }
  .sign-page .error-messages {
    background-color: #b43232;
    color: #ffffff;
    font-weight: 700;
    font-size: var(--tab-s-size);
    padding: 10px;
    margin: 0 20px 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  /* mobile media */
  @media (max-width: 597px) {
    .sign-page .error-messages {
      font-size: var(--mob-s-size);
      padding: 7px;
    }
  }
  /* End Sign page content  */
  /* Start verify otp page */
  .verify-page  {
    background-image: url(/static/images/otp-verfiy-background.webp);
    background-size:cover;
    width: 100%;
    height: 100vh;
  }
  .verify-page .sign-card {
    box-shadow: none !important;
  }
  .verify-page .verify-face {
    top: 50% !important;
    height: fit-content;
    padding: 20px 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    box-shadow: var(--main-shadow);
  }
  .verify-page .verify-face label {
    margin: 10px 10px 20px;
    color: var(--main-text-color) !important;
    text-align: center;
  }
  .verify-page .verify-face input[type='submit'] {
    margin: 20px auto !important;
  }
  /* End verify otp page */
  /* Start Verif code page  صفحة اكواد الهدايا */
  .verif-code {
    width: fit-content;
  }
  .verif-code .logo {
    width: 180px;
    margin-bottom: 10px;
  }
  .verif-code form {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .verif-code label {
    margin-bottom: 10px;
    text-align: center;
    color: var(--main-color);
    font-size: var(--lab-m-size);
    font-weight: 800;
  }
  .verif-code input[type='number'] {
    width: 120px;
    height: 40px;
    font-size: var(--lab-l-size);
    margin: 0 auto 20px;
    color: var(--main-text-color);
    padding: 0 20px;
    letter-spacing: 10px;
  }
  .verif-code input[type='submit'] {
    width: 80px;
    height: 35px;
    background-color: var(--main-color);
    font-size: var(--lab-xs-size);
    color: #ffffff;
    font-weight: 800;
    margin: 0 auto;
  }
  /* Tab media */
  @media (max-width: 768px) {
    .verif-code .logo {
      width: 150px;
    }
    .verif-code label {
      margin-bottom: 10px;
      font-size: var(--tab-m-size);
    }
    .verif-code input[type='number'] {
      font-size: var(--tab-l-size);
    }
    .verif-code input[type='submit'] {
      font-size: var(--tab-m-size);
    }
  }
  /* mobile media */
  @media (max-width: 597px) {
    .verif-code .logo {
      width: 120px;
    }
    .verif-code label {
      font-size: var(--mob-m-size);
    }
    .verif-code input[type='number'] {
      width: 100px;
      height: 30px;
      font-size: var(--mob-l-size);
      margin: 0 auto 15px;
      padding: 0 15px;
      letter-spacing: 8px;
    }
    .verif-code input[type='submit'] {
      font-size: var(--mob-xs-size);
    }
  }
  /* End Verif code page  */
  
/* Start Edit account */
.edit-card {
    padding-top: 82px;
    max-width: 70%;
    margin: 0 auto 180px;
  }
  .edit-card h1{
    color: var(--main-color);
    font-size: var(--lab-xl-size);
    text-align: center;
  }
  .edit-card h1 i{
    font-size: var(--lab-m-size);
  }
  .edit-card .edit-exit {
    position: absolute;
    left: 0%;
    top: 18%;
  }
  .exit-button.see-dealing {
    position: relative;
    right: 0 !important;
    font-size: 12px !important;
    padding: 10px 5px !important;
    left: 80%  !important;
    top:18px !important;
  }
  .exit-button.see-dealing i {
    margin-right: 5px;
    font-size: 10px ;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  @media (max-width: 890px) {
    .edit-card .edit-exit {
      top: 15%;
    }
  }
  @media (max-width: 716px) {
    .edit-card .edit-exit {
      left: 1%;
    }
  }
  @media (max-width: 598px) {
    .edit-card .edit-exit {
      top: 24%;
    }
  }
  @media (max-width: 498px) {
    .exit-button.see-dealing {
      font-size: 8px !important;
    }
  }
  @media (max-width: 328px) {
    .edit-card .edit-exit {
      left: 0%;
      top: 16%;
    }
  }
  .edit-card form {
    position: relative;
    display: flex;
    padding: 30px;
    background-color: var(--background-color-alt);
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  .edit-card form .image {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: fill;
    overflow: hidden;
    border-top-left-radius: var(--main-border-radius);
    border-bottom-left-radius: var(--main-border-radius);
  }
  .edit-card form .image img {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  .edit-card form .data {
    width: 60%;
  }
  .edit-card form .data .error-messages {
    position: relative;
    margin-bottom: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  
  .edit-card form .edit-items {
    width: fit-content;
    padding: 0 30px;
  }
  .edit-card form .edit-items div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .edit-card form .edit-items label {
    color: var(--main-color);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .edit-card form .edit-items label a {
    font-size: 12px;
    color: #3e3ee7;
    text-decoration: underline;
    cursor: pointer;
  }
  .edit-card form .edit-items input {
    width: 270px;
    height: 30px;
    margin-right: 20px;
  }
  .edit-card form .edit-items input::placeholder {
    font-size: 12px;
    padding-right: 10px;
  }
  .edit-card form button {
    display: block;
    margin: 20px auto 0;
    background-color: var(--main-color);
    color: #ffffff;
    font-weight: 900;
    border: none;
    padding: 10px;
    width: 120px;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  @media (max-width: 885px) {
    .edit-card {
      max-width: 85%;
    }
  }
  @media (max-width: 724px) {
    .edit-card h1{
      font-size: var(--tab-xl-size);
    }
    .edit-card h1 i{
      font-size: var(--tab-m-size);
    }
    .edit-card form {
      padding: 20px;
    }
    .edit-card form .edit-items label a {
      font-size: 9px;
      margin-right: 10px;
    }
    .edit-card form .image {
      display: none;
    }
    .edit-card form .image img {
      border-radius: var(--main-border-radius);
      -webkit-border-radius: var(--main-border-radius);
      -moz-border-radius: var(--main-border-radius);
      -ms-border-radius: var(--main-border-radius);
      -o-border-radius: var(--main-border-radius);
    }
    .edit-card form .data {
      width: 100%;
    }
    .edit-card form .edit-items {
      position: relative;
      padding: 0 60px;
      width: 95%;
      margin: 0 auto;
    }
    .edit-card form .edit-items input {
      width: 95%;
      margin-right: 15px;
    }
    .edit-card form button {
      width: 120px;
    }
  }
  @media (max-width: 632px) {
    .edit-card form button {
      width: 100px;
    }
    .edit-card form .edit-items input::placeholder {
      font-size: 10px;
    }
  }
  @media (max-width: 532px) {
    .edit-card h1{
      margin-top: 20px;
      font-size: var(--mob-xl-size);
    }
    .edit-card h1 i{
      font-size: var(--mob-m-size);
    }
    .edit-card form {
      padding: 10px;
    }
    .edit-card form .data .error-messages {
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .edit-card form .edit-items {
      padding: 0 10px;
    }
    .edit-card form .edit-items label {
      font-size: 11px;
    }
    .edit-card form .edit-items div:first-of-type label{
      margin-top: 10px;
    }
    .edit-card form button {
      width: 120px;
    }
  }
  @media (max-width: 492px) {
    .edit-card {
      max-width: 80%;
    }
    .edit-card form .edit-items {
      width: 95%;
      margin: 0 auto;
    }
    .edit-card form .edit-items input {
      margin-right: 10px;
    }
    .edit-card form button {
      width: 100px;
      padding: 5px 10px;
    }
  }
  
  /* End Edit account */
  /* Start choose city  */
  .choose-city-card {
    margin-top: 90px;
    padding: 20px;
  }
  .choose-city-card  form {
    margin: 0 auto;
    max-width: 500px;
    position: relative;
    background-color: var(--background-color-alt);
    padding: 30px 40px;
    box-shadow: var(--main-shadow);
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  .choose-city-card  form label {
    display: block;
    margin-bottom: 10px;
    font-size: var(--lab-m-size);
  }
  .choose-city-card  form select {
    padding: 5px;
    color: var(--main-text-color);
    width: 150px;
  }
  .choose-city-card  form button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--main-color);
    font-size: var(--tab-xs-size);
    font-weight: bold;
    color: #ececec;
    padding: 10px;
    border: none;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  @media (max-width: 492px) {
    .choose-city-card  form label {
      font-size: var(--tab-m-size);
    }
    .choose-city-card  form select {
      width: 120px;
    }
    .choose-city-card  form button {
      bottom: 10px;
      left: 10px;
      font-size: var(--mob-xs-size);
      padding: 10px 15px;
    }
  }
/* End choose city  */