{% extends "partials/base.html" %}
{% load static %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static "/css/orders.css" %}">   
{% endblock %}
{% block content %}

<div class="order" style="position: relative;">
    
    <!-- Start Order Details -->
        <div class="Order">
            <div class="container">
                {% if dealing_items %}
                    <div class="order-info">
                        <div class="order-id-status">
                            <h3>الطلب رقم <span>{{ serial_number|stringformat:"06d" }}</span></h3>
                            <h3> متبقي الدفع 
                                {% if remaining %} {% comment %} يوجد متبقي سواء لك او عليك {% endcomment %}
                                    <span style="color: {% if remaining_label == 'لك' %} #27bc27{% else %}#cf2222{% endif %};">
                                        {{ remaining }} {{ remaining_label }}
                                    </span>
                                {% else %}
                                    <span>                                        
                                        {{ remaining_label }}
                                    </span>
                                {% endif %}
                            </h3>   
            
                            <a class='edit-exit' href="javascript:void(0);" onclick="goBack()">
                                <span class="exit-button"><i class="fa-solid fa-arrow-left"></i></span>
                            </a>
                        </div>
                        <div class="order-date">
                            <span>{{ order_dealing.updated_at|date:" Y/m/d" }}</span>
                        </div>
                    </div>
                {% endif %}
                <div class="order-products">
                    <table class="products-table">
                        {% if dealing_items %}
                            <thead>
                                <tr>
                                    <th>الحالة</th>
                                    <th>المنتج القديم</th>
                                    <th>المنتج الجديد</th>
                                    <th>الكمية القديمة</th>
                                    <th>الكمية الجديدة</th>
                                    <th>السعر القديم</th>
                                    <th>السعر الجديد</th>
                                    <th>فرق السعر</th>
                                    <th>مُطبقة</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for deal in dealing_items %}
                                    <tr>
                                        <td>{{ deal.get_status_display }}</td>
                                        <td><img src="{{ deal.old_item.product_item.image.url }}"></td>
                                        <td><img src="{{ deal.new_item.product_item.image.url }}"></td>
                                        <td>{% if deal.old_qty %}{{ deal.old_qty }}{% else %}0{% endif %}</td>
                                        <td>{% if deal.new_qty %}{{ deal.new_qty }}{% else %}-{% endif %}</td>
                                        <td>{{ deal.old_price }}</td>
                                        <td>{{ deal.new_price }}</td>
                                        <td>{{deal.price_difference}}</td>
                                        <td>{% if deal.is_dealt %}✅{% else %}❌{% endif %}</td>
                                    </tr> 
                                {% endfor %}
                            </tbody>
                        {% else %}
                            {% include "common/no-result.html" %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    <!-- End Order Details -->
</div>

{% include "pop-pages/edit-order.html" %}

{% endblock content %}

{% block additional_js %}
    <script src=" {% static "/javascript/orders.js" %}" defer></script>
{% endblock %}