{% extends "partials/base.html" %}
{% load static %}

{% block content %}

<div class="order" style="position: relative;">
    
    <!-- Start Order Details -->
        <div class="Order">
            <div class="container">
                <div class="order-info">
                    <div class="order-id-status">
                        <h3>رقم الطلب: <span>{{ order.serial_number|stringformat:"06d" }}</span></h3>                     
                        <h3>حالة الطلب: <span style="color:{% if order.status == 'canceled' %}#cf2222{% elif  order.status == 'delivered' %}#27bc27{% else %}#e39554{% endif %};" >{{ order.get_status_display }}</span></h3>                    
                        <a class='edit-exit' href="javascript:void(0);" onclick="goBack()">
                            <span class="exit-button"><i class="fa-solid fa-arrow-left"></i></span>
                        </a>
                    </div>
                    <div class="order-date">
                        <span>{{ order.order_date|date:" Y/m/d" }}</span>
                    </div>
                </div>
                <div class="order-products">
                    <table class="products-table">
                        {% if items %}
                            <thead>
                                <tr>
                                    <th>الصورة</th>
                                    <th>id</th>
                                    <th>اسم المتتج</th>
                                    <th>الكمية</th>
                                    <th>السعر</th>
                                    <th>المجموع</th>
                                    <th>استبدال</th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td><img src="{{ item.order_item.product_item.image.url }}"></td>
                                        <td>{{ item.order_item.id }}</td>
                                        <td>{{ item.order_item.product_item.product.name }}</td>
                                        <td>{{ item.qty }}</td>
                                        <td>${{item.price}}</td>
                                        <td>${{ item.total_price }}</td>
                                        <td class='replace'><i class="fa-solid fa-repeat {% if order.status != 'canceled' %} replace-clicable {% else %}unclicable{% endif %}"></i></td>
                                        <td class='remove'><i class="fa-solid fa-trash {% if order.status == 'pending' or  order.status == 'checking' %} remove-clicable {% else %}unclicable{% endif %}"></i></td>
                                    </tr> 
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                {% if order.dlivery_price or order.discount_amount %}
                                    <tr>
                                        <td colspan="5">المجموع :</td>
                                        <td>{{ order.old_total }} دل </td>
                                        <td colspan="2"></td>
                                    </tr>
                                {% endif %}
                                {% if order.discount_amount %}
                                    <tr>
                                        <td colspan="5">  قيمة الخصم:</td>
                                        <td>-{{ order.discount_amount }} دل </td>
                                        <td colspan="2"></td>
                                    </tr>
                                {% endif %}
                                {% if order.dlivery_price %}
                                    <tr>
                                        <td colspan="5">تكلفة الشحن:</td>
                                        <td>+{{ order.dlivery_price }} دل </td>
                                        <td colspan="2"></td>
                                    </tr>
                                {% endif %}
                                {% if order.total_points %}
                                    <tr>
                                        <td colspan="5"> النقاط المكتسبة:</td>
                                        <td>+{{ order.total_points }} <i class="fa-solid fa-gem"> </td>
                                        <td colspan="2"></td>
                                    </tr>  
                                {% endif %}
                                <tr>
                                    <td colspan="5"> المجموع النهائي:</td>
                                    <td >{{ order.total_price }} دل </td>
                                    <td colspan="2"></td>
                                </tr>  
                            </tfoot>
                        {% else %}
                            {% include "common/no-result.html" %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    <!-- End Order Details -->
</div>

{% endblock content %}