{% extends "partials/base.html" %}
{% load static %}

{% block content %}

<div class="order" style="position: relative;">
    
    <!-- Start Order Details -->
        <div class="Order">
            <div class="container">
                <div class="order-info">
                    <div class="order-id-status">
                        <h3>طلبات الاستبدال والإرجاع<span></span></h3>                     
                        <a class='edit-exit' href="javascript:void(0);" onclick="goBack()">
                            <span class="exit-button"><i class="fa-solid fa-arrow-left"></i></span>
                        </a>
                    </div>
                </div>
                <div class="order-products">
                    <table class="products-table">
                        {% if order_dealing %}
                            <thead>
                                <tr>
                                    <th>رقم الطلب</th>
                                    <th>فرق السعر</th>
                                    <th>التاريخ</th>
                                    <th>استعراض</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for deal in order_dealing %}
                                <tr>
                                    <td> {{ deal.order.serial_number|stringformat:"06d" }} </td>
                                    <td> {% if deal.total_price_difference %}{{ deal.total_price_difference }}{% else %}0{% endif %} </td>
                                    <td>{{ deal.created_at|date:" Y/m/d" }}</td>
                                    <td class="show"><a href="{% url "orders:dealing-items"  deal.id  %}">استعراض</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        {% else %}
                            {% include "common/no-result.html" %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    <!-- End Order Details -->
</div>

{% include "pop-pages/edit-order.html" %}

{% endblock content %}