{% extends "partials/base.html" %}
{% load static %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static "/css/orders.css" %}">   
{% endblock %}
{% block content %}

<div class="order" style="position: relative;">
    
    <!-- Start Order Details -->
        <div class="Order">
            <div class="container">
                <div class="order-info">
                    <div class="order-id-status">
                        <h3>رقم الطلب: <span>{{ order.serial_number|stringformat:"06d" }}</span></h3>                     
                        <h3>حالة الطلب: <span style="color:{% if order.status == 'canceled' %}#cf2222{% elif  order.status == 'delivered' %}#27bc27{% else %}#e39554{% endif %};" >{{ order.get_status_display }}</span></h3>                    
                        <h3>ملاحظة: <span>{% if order.free_delivery %}التوصيل مجاني{% else %}سعر التوصيل غير مضمن بالفاتورة ({{order.delivery_price}} دينار){% endif %}</span></h3>   
                        <a class='edit-exit' href="javascript:void(0);" onclick="goBack()">
                            <span class="exit-button"><i class="fa-solid fa-arrow-left"></i></span>
                        </a>

                        {% if order_dealing %}
                            <a class='edit-exit ' href="{% url "orders:order-dealing" order.id %}" >
                                <span class="exit-button see-dealing"> الاستبدال والاسترجاع <i class="fa-solid fa-arrow-up-right-from-square"></i> </span>
                            </a>
                        {% endif %}

                    </div>
                    <div class="order-date">
                        <span>{{ order.order_date|date:" Y/m/d" }}</span>
                    </div>
                </div>
                <div class="order-products">
                    <table class="products-table">
                        {% if items %}
                            <thead>
                                <tr>
                                    <th>الصورة</th>
                                    <th style='width:fit-content;'>id</th>
                                    <th>المقاس</th>
                                    <th>الكمية</th>
                                    <th>السعر</th>
                                    <th>المجموع</th>
                                    <th>بعد الخصم</th>
                                    <th>استبدال</th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td><img src="{{ item.order_item.product_item.image.url }}"></td>
                                        <td>{{ item.order_item.id }}</td>
                                        <td>{{ item.order_item.size }}</td>
                                        <td>{{ item.qty }}</td>
                                        <td>${{item.price}}</td>
                                        <td>${{ item.total_price }}</td>
                                        <td>${{ item.discount_price }}</td>
                                        <td class='replace' data-item-id="{{ item.id }}">
                                            {% if item.status == "confirmed" %}
                                                <i class="fa-solid fa-repeat {% if order.status != 'canceled' and replace_possibility %} replace-clicable {% else %}unclicable{% endif %}"></i>
                                            {% else %}
                                                {{ item.get_status_display }}
                                            {% endif %}
                                        </td>
                                        <td class='remove' data-remove-id="{{  item.id }}" data-order-id="{{ order.id }}" >
                                            {% if item.status == "confirmed" %}
                                                <i class="fa-solid fa-trash {% if order.status != 'canceled' and return_possibility %} remove-clicable {% else %}unclicable{% endif %}"></i>
                                            {% endif %}
                                        </td>
                                    </tr> 
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                {% if order.total_points %}
                                    <tr>
                                        <td colspan="6"> النقاط المكتسبة:</td>
                                        <td>+{{ order.total_points }} <i class="fa-solid fa-gem"> </td>
                                        <td colspan="2"></td>
                                    </tr>  
                                {% endif %}
                                <tr>
                                    <td colspan="6">المجموع :</td>
                                    <td>{{ order.old_total }} دل </td>
                                    <td colspan="2"></td>
                                </tr>
                                {% if order.copon_value %}
                                    <tr>
                                        <td colspan="6">  قيمة الخصم:</td>
                                        <td>-{{ order.used_discount }} دل </td>
                                        <td colspan="2"></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td colspan="6"> المجموع النهائي:</td>
                                    <td >{{ order.total_price }} دل </td>
                                    <td colspan="2"></td>
                                </tr>  
                            </tfoot>
                        {% else %}
                            {% include "common/no-result.html" %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    <!-- End Order Details -->
</div>

<div class="Pop-up-page  return-item-pop-page"  id="confirm-return-popup">
    <div class="logo">
        <img src="{% static "images/name-logo.webp" %}" alt="خدمة استبدال واسترجاع بسهولة">
    </div>
    <p class="confirm-message">هل انت متأكد من رغبتك في حذف المنتج من الطلب؟</p>
    <div class="choices">
        <button class="back" id="cancel-return-btn">تراجع</button>
        <button class="delete" id="confirm-return-btn">حذف</button>
    </div>
</div>

{% include "pop-pages/edit-order.html" %}

{% endblock content %}

{% block additional_js %}
    <script src=" {% static "/javascript/orders.js" %}" defer></script>
{% endblock %}